Hi, this notebook will show you almost all the columns operation availables in Optimus. For row operation, IO, ML and DL please go to the examples folder in the repo

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

In [3]:
sys.path.append("..")

## Columns Operations

In this notebook you can see a detailed overview ok all the columns operations available in Optimus. You can access the operation via df.cols.

In [4]:
from optimus import Optimus

In [5]:
# Create optimus
op = Optimus("pandas")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\LuisA\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

## Create dataframe

In [6]:
df = op.create.dataframe({
        ("words", "str", True): ['  I like     fish  ', '    zombies', 'simpsons   cat lady', None],
        ("num", "int", True): [1, 2, 2, 3],
        ("animals", "str", True): ['dog', 'cat', 'frog', 'eagle'],
        ("thing", "str", True): ['housé', 'tv', 'table', 'glass'],
        ("two strings", "str", True): ['cat-car', 'dog-tv', 'eagle-tv-plus', 'lion-pc'],
        ("filter", "str", True): ['a', 'b', '1', 'c'],
        ("num 2", "string", True): ['1', '2', '3', '4'],
        ("col_array", None, True): [['baby', 'sorry'], ['baby 1', 'sorry 1'], ['baby 2', 'sorry 2'], ['baby 3', 'sorry 3']],                
        ("col_int", None, True): [[1, 2, 3], [3, 4], [5, 6, 7], [7, 8]]
})

df.print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]

## Create Columns

### Create a column with a constant value

In [7]:
df = df.cols.set("new_col_1", 1)
df.print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1

In [8]:
df.print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1

### Append 2 or multiples dataframes columns like

In [9]:
df_col = op.create.dataframe({("NEW", "str", True): ["q", "w", "e", "r"]})
df = df.cols.append(df_col)
df.print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

### Create multiple columns with a constant value

In [10]:
df.cols.append({"col 2": 2.22, "col 3": 3}).print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW               col 2      col 3
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)      (float64)    (int64)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------  -----------  ---------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q                  2.22          3
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w                  2.22          3
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e                  2.22          3
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r                  2.22          3

### Create multiple columns with a constant string, a new column with existing columns value and an array

In [11]:
df.cols.append({
    "just test": "test",
    "num 2": df['num'] * 2,
    "more numbers": [1, 2, 3, 4]
}).cols.select(["num", "just test", "num 2", "more numbers"]).print()

      num  just test          num 2    more numbers
  (int32)  (object)       (float64)         (int64)
---------  -----------  -----------  --------------
        1  test                   2               1
        2  test                   4               2
        2  test                   4               3
        3  test                   6               4

## Select columns

In [12]:
df.print()
columns = ["words", 1, "animals", 3]
df.cols.select(columns).print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

words                      num  animals     thing
(object)               (int32)  (object)    (object)
-------------------  ---------  ----------  ----------
I like     fish              1  dog         housé
zombies                      2  cat         tv
simpsons   cat lady          2  frog        table
                             3  eagle       glass

### Select columns with a Regex

In [13]:
df.cols.select("n.*", regex=True).print()

      num       num 2    new_col_1
  (int32)    (string)      (int64)
---------  ----------  -----------
        1           1            1
        2           2            1
        2           3            1
        3           4            1

### Select all the columns of type string

In [14]:
df.cols.select(data_type="int").print()

      num    new_col_1
  (int32)      (int64)
---------  -----------
        1            1
        2            1
        2            1
        3            1

## Rename Column

In [15]:
df.cols.rename('num', 'number').print()

words                   number  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

### Rename multiple columns and uppercase all the columns

In [16]:
df.cols.rename([('num', 'number'), ("animals", "gods")], str.upper).print()

words                   NUMBER  GODS        thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

### Convert to lower case

In [17]:
df.cols.rename(str.lower).print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  new
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

### Convert to uppercase

In [18]:
df.cols.rename(str.upper).print()

WORDS                      NUM  ANIMALS     THING       TWO STRINGS    FILTER           NUM 2  COL_ARRAY              COL_INT       NEW_COL_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

## Cast a columns

This is a opinionated way to handle column casting. 
One of the first thing that every data cleaning process need to acomplish is define a data dictionary.
Because of that we prefer to create a tuple like this:

df.cols().cast(
[("words","str"),
("num","int"),
("animals","float"),
("thing","str")]
)

In [19]:
df.cols.cast(columns=[("num", "str"), ("num 2", "int")]).cols.select(["num", "num 2"]).cols.dtypes()

{'num': 'object', 'num 2': 'int64'}

### Cast a column to string

In [20]:
df.cols.cast("num", "str").cols.dtypes()

{'words': 'object',
 'num': 'object',
 'animals': 'object',
 'thing': 'object',
 'two strings': 'object',
 'filter': 'object',
 'num 2': 'string',
 'col_array': 'object',
 'col_int': 'object',
 'new_col_1': 'int64',
 'NEW': 'object'}

### Cast all columns to string

In [21]:
df.cols.cast("*", "str").cols.dtypes()

{'words': 'object',
 'num': 'object',
 'animals': 'object',
 'thing': 'object',
 'two strings': 'object',
 'filter': 'object',
 'num 2': 'object',
 'col_array': 'object',
 'col_int': 'object',
 'new_col_1': 'object',
 'NEW': 'object'}

## Move columns

In [22]:
df.cols.move("thing", "after", "words").print()

words                thing             num  animals     two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)             (object)      (int32)  (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ----------  ---------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish      housé               1  dog         cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies              tv                  2  cat         dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady  table               2  frog        eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                     glass               3  eagle       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

## Sorting Columns

### Sort in Alphabetical order

In [23]:
df.cols.sort().print()

animals     col_array              col_int     filter      NEW           new_col_1        num       num 2  thing       two strings    words
(object)    (object)               (object)    (object)    (object)        (int64)    (int32)    (string)  (object)    (object)       (object)
----------  ---------------------  ----------  ----------  ----------  -----------  ---------  ----------  ----------  -------------  -------------------
dog         ['baby', 'sorry']      [1, 2, 3]   a           q                     1          1           1  housé       cat-car        I like     fish
cat         ['baby 1', 'sorry 1']  [3, 4]      b           w                     1          2           2  tv          dog-tv         zombies
frog        ['baby 2', 'sorry 2']  [5, 6, 7]   1           e                     1          2           3  table       eagle-tv-plus  simpsons   cat lady
eagle       ['baby 3', 'sorry 3']  [7, 8]      c           r                     1          3           4  glass       lion-pc

### Sort in Reverse Alphabetical order

In [24]:
df.cols.sort(order="desc").print()

words                two strings    thing            num 2        num    new_col_1  NEW         filter      col_int     col_array              animals
(object)             (object)       (object)      (string)    (int32)      (int64)  (object)    (object)    (object)    (object)               (object)
-------------------  -------------  ----------  ----------  ---------  -----------  ----------  ----------  ----------  ---------------------  ----------
I like     fish      cat-car        housé                1          1            1  q           a           [1, 2, 3]   ['baby', 'sorry']      dog
zombies              dog-tv         tv                   2          2            1  w           b           [3, 4]      ['baby 1', 'sorry 1']  cat
simpsons   cat lady  eagle-tv-plus  table                3          2            1  e           1           [5, 6, 7]   ['baby 2', 'sorry 2']  frog
                     lion-pc        glass                4          3            1  r           c           [7, 8]      ['baby 3', 'sorry 3']  eagle

## Drop columns

###  Drop one columns

In [25]:
df.cols.drop("num").print()

words                animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)             (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish      dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies              cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                     eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

### Drop multiple columns

In [26]:
df.cols.drop(["num", "words"]).print()

animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

## Chaining

cols and rows accessors are used to organize and encapsulate `optimus` methods, it can be helpfull when you look at the code because every line is self explained.

The past transformations were done step by step, but this can be achieved by chaining all operations into one line of code, like the cell below. This way is much more efficient and scalable because it uses all optimization issues from the lazy evaluation approach.

In [27]:
df.print()
df \
    .cols.rename([('num', 'number')]) \
    .cols.drop(["number", "words"]) \
    .cols.append({"col_10": 10}) \
    .cols.sort(order="desc") \
    .cols.upper("two strings") \
    .print()

words                      num  animals     thing       two strings    filter           num 2  col_array              col_int       new_col_1  NEW
(object)               (int32)  (object)    (object)    (object)       (object)      (string)  (object)               (object)        (int64)  (object)
-------------------  ---------  ----------  ----------  -------------  ----------  ----------  ---------------------  ----------  -----------  ----------
I like     fish              1  dog         housé       cat-car        a                    1  ['baby', 'sorry']      [1, 2, 3]             1  q
zombies                      2  cat         tv          dog-tv         b                    2  ['baby 1', 'sorry 1']  [3, 4]                1  w
simpsons   cat lady          2  frog        table       eagle-tv-plus  1                    3  ['baby 2', 'sorry 2']  [5, 6, 7]             1  e
                             3  eagle       glass       lion-pc        c                    4  ['baby 3', 'sorry 3']  [7, 8]                1  r

two strings    thing            num 2    new_col_1  NEW         filter      col_int     col_array                 col_10  animals
(object)       (object)      (string)      (int64)  (object)    (object)    (object)    (object)                 (int64)  (object)
-------------  ----------  ----------  -----------  ----------  ----------  ----------  ---------------------  ---------  ----------
CAT-CAR        housé                1            1  q           a           [1, 2, 3]   ['baby', 'sorry']             10  dog
DOG-TV         tv                   2            1  w           b           [3, 4]      ['baby 1', 'sorry 1']         10  cat
EAGLE-TV-PLUS  table                3            1  e           1           [5, 6, 7]   ['baby 2', 'sorry 2']         10  frog
LION-PC        glass                4            1  r           c           [7, 8]      ['baby 3', 'sorry 3']         10  eagle

## Unnest  Columns

With unnest you can convert one column into multiple ones. it can hadle string, array and vectors

### Spark
Can split strings with split()

### Pandas
via str.split()

In [28]:
df.cols.select("two strings").print()
df.cols.select("two strings").cols.unnest("two strings", "-").print()

two strings
(object)
-------------
cat-car
dog-tv
eagle-tv-plus
lion-pc

two strings    two strings_0    two strings_1
(object)       (object)         (object)
-------------  ---------------  ---------------
cat-car        cat              car
dog-tv         dog              tv
eagle-tv-plus  eagle            tv-plus
lion-pc        lion             pc

### Only get the first element

In [29]:
df.cols.select("two strings").cols.unnest("two strings", "-", index=1).print()

two strings    two strings_1
(object)       (object)
-------------  ---------------
cat-car        car
dog-tv         tv
eagle-tv-plus  tv-plus
lion-pc        pc

### Unnest array of string

In [30]:
df.cols.select("col_array").cols.unnest("col_array").print()

col_array              col_array_0    col_array_1
(object)               (object)       (object)
---------------------  -------------  --------------
['baby', 'sorry']      ['baby',       'sorry']
['baby 1', 'sorry 1']  ['baby         1', 'sorry 1']
['baby 2', 'sorry 2']  ['baby         2', 'sorry 2']
['baby 3', 'sorry 3']  ['baby         3', 'sorry 3']

### Unnest and array of ints

In [31]:
df.cols.select("col_int").cols.unnest("col_int").print()

col_int     col_int_0    col_int_1
(object)    (object)     (object)
----------  -----------  -----------
[1, 2, 3]   [1,          2, 3]
[3, 4]      [3,          4]
[5, 6, 7]   [5,          6, 7]
[7, 8]      [7,          8]

### Spits in 3 parts

In [32]:
df.cols.select("two strings").cols.unnest(["two strings"], splits=3, separator="-").print()

two strings    two strings_0    two strings_1    two strings_2
(object)       (object)         (object)         (object)
-------------  ---------------  ---------------  ---------------
cat-car        cat              car
dog-tv         dog              tv
eagle-tv-plus  eagle            tv               plus
lion-pc        lion             pc

## Impute

### Fill missing data

In [33]:
df_fill = op.create.dataframe(A=[1.0, 2.0, op.nan, 4.0, 5.0], B=[op.nan, op.nan, 3.0, 4.0, 5.0], C=[1, op.nan, None, 2, 2])

In [34]:
df_fill.print()

          A            B            C
  (float64)    (float64)    (float64)
-----------  -----------  -----------
          1          nan            1
          2          nan          nan
        nan            3          nan
          4            4            2
          5            5            2

In [35]:
df_fill.cols.impute(["A", "B"], "continuous", "median").print()

          A            B            C
  (float64)    (float64)    (float64)
-----------  -----------  -----------
          1            4            1
          2            4          nan
          3            3          nan
          4            4            2
          5            5            2

In [36]:
df_fill.cols.impute(["C"], strategy="most_frequent").print()

          A            B            C
  (float64)    (float64)    (float64)
-----------  -----------  -----------
          1          nan            1
          2          nan            2
        nan            3            2
          4            4            2
          5            5            2

## Apply custom function

Spark have few ways to transform data rdd, Columns Expression, UDF and Pandas UDF. apply() and apply_expr() try to make a consistent way to call this expression without knowing the implementation details.

### Spark
You need to declare a UDF Spark function

### Pandas
Almost the same behavior that Optimus

In [40]:
df.table()

### Create a function that only apply to string value in column filter

Sometimes there are columns with for example with numbers even when are supposed to be only of words or letters. 

In order to solve this problem, apply_by_dtypes() function can be used. 

In the next example we replace a number in a string column with "new string"

In [41]:
def func(val, attr):
    return attr


df.cols.apply_by_dtypes("filter", func, "string", "new string", data_type="integer").table()

### Create a UDF function that sum a values(32 in this case) to two columns

In [42]:
def func(val, attr):
    return val + attr


df.cols.apply(["num", "new_col_1"], func, "int", 32, "udf").table()

### Create a Pandas UDF function that sum a values(32 in this case) to two columns

In [43]:
def func(val, attr):
    return val + attr


df.cols.apply(["num", "new_col_1"], func, "int", 10).table()

### Select row where column "filter" is "integer"

In [ ]:
from optimus.audf import filter_row_by_data_type as fbdt
df.rows.select(fbdt("filter", "integer")).table()

### Create an abstract dataframe to filter a rows where the value of column "num"> 1

In [ ]:
from optimus.audf import abstract_udf as audf


def func(val, attr):
    return val > 1


df.rows.select(audf("num", func, "boolean")).table()

### Create an abstract dataframe (Pandas UDF) to pass two arguments to a function a apply a sum operation

In [ ]:
from optimus.audf import abstract_udf as audf


def func(val, attr):
    return val + attr[0] + attr[1]


df.withColumn("num_sum", audf("num", func, "int", [10, 20])).table()

### Apply a column expression to when the value of "num" or "num 2" is grater than 2

In [ ]:
from pyspark.sql import functions as F

def func(col_name, attr):
    return F.when(F.col(col_name) > 2, 10).otherwise(1)


df.cols.apply_expr(["num", "num 2"], func).table()

### Convert to uppercase

In [48]:



def func(col_name, attr):
    return F.upper(F.col(col_name))


df.cols.apply_expr(["two strings", "animals"], func).table()

### Using apply with a condition

In [49]:
def func(val, attr):
    return 10


col = "num"

df.cols.apply(col, func, "int", when=df["num"] > 1).table()

df.cols.apply(col, func, "int", when=fbdt(col, "int")).table()

## Count Nulls

In [50]:
import numpy as np

df_null = op.spark.createDataFrame(
    [(1, 1, None), (1, 2, float(5)), (1, 3, np.nan), (1, 4, None), (1, 5, float(10)), (1, 6, float('nan')),
     (1, 6, float('nan'))],
    ('session', "timestamp1", "id2"))

In [51]:
df_null.table()

In [52]:
df_null.cols.count_na("id2")

5

In [53]:
df_null.cols.count_na("*")

{'session': 0, 'timestamp1': 0, 'id2': 5}

## Count uniques
### Spark

### Pandas

In [54]:
df.cols.count_uniques("*")

{'words': 3,
 'num': 3,
 'animals': 4,
 'thing': 4,
 'two strings': 4,
 'filter': 4,
 'num 2': 4,
 'col_array': 3,
 'col_int': 4,
 'new_col_1': 1}

## Unique
### Spark
An abstraction of distinct to be use in multiple columns at the same time

### Pandas
Similar behavior than pandas

In [55]:
df.table()

In [29]:
df_distinct = op.create.df(
    [
        ("words", "str", True),
        ("num", "int", True)
    ],
    [
        ("  I like     fish  ", 1),
        ("    zombies", 2),
        ("simpsons   cat lady", 2),
        (None, 3),
        (None, 0)
    ])

In [42]:
df_distinct.cols.unique("num").table()

## Count Zeros

In [43]:
df_zeros = df_distinct
df_zeros.cols.count_zeros("*")

[{'num': 1}]

## Column Data Types

In [44]:
df.cols.dtypes('*')

{'words': 'string',
 'num': 'int',
 'animals': 'string',
 'thing': 'string',
 'two strings': 'string',
 'filter': 'string',
 'num 2': 'string',
 'col_array': 'array<string>',
 'col_int': 'array<int>'}

## Replace

In [45]:
df.table()

### Replace "dog","cat" in column "animals" by the word "animals"

In [46]:
df.cols.replace("animals", ["dog", "cat"], "animals").table()

### Replace "dog-tv", "cat", "eagle", "fish" in columns "two strings","animals" by the string "animals"

In [47]:
df.cols.replace(["two strings", "animals"], ["dog-tv", "cat", "eagle", "fish"], "animals").table()

### Replace "dog" by  "dog_1" and "cat" by "cat_1" in columns "animals"

In [48]:
df.cols.replace("animals", [("dog", "dog_1"), ("cat", "cat_1")]).table()

### Replace in column "animals", "dog" by "pet"

In [49]:
df.cols.replace("animals", "dog", "animal").table()

### Replace a,b,c by % in all columns

In [50]:
df.cols.replace("*", ["a", "b", "c"], "%").table()

### Replace 3 and 2 by 10 in a numeric columns

In [51]:
df.cols.replace('num', ["3", 2], 10).table()

### Replace 3 by 6 and 2 by 12 in a numeric columns

In [52]:
df.cols.replace('num', [("3", 6), (2, 12)]).table()

### Replace as words

In [58]:
df.cols.replace("animals", "dog", "animal", search_by="words").table()

In [57]:
df.cols.replace("animals", "dog", "animal", search_by="words", output_cols="friends").table()

In [61]:
df.cols.replace("*", "1", "11", search_by="chars", output_cols="new").table()

In [62]:
df.cols.replace("animals", [("dog", "dog_1"), ("cat", "cat_1")], "words").table()

In [63]:
df.cols.replace("animals", ["dog", "cat"], "animals", "words").table()

### Use Regex

In [66]:
df.cols.replace_regex('*', '.*[Cc]at.*', 'cat_1').table()

## Nest

### Merge two columns in a column vector
#### Match the string as a word not as a substring

In [15]:
df = df.cols.copy("num", "num_1")
df.cols.nest(["num", "num_1"], output_col="col_nested", shape="vector").table()

### Merge two columns in a string columns

In [16]:
df.cols.nest(["animals", "two strings"], output_col="col_nested", shape="string").table()

### Merge three columns in an array

In [76]:
df.cols.nest(["animals", "two strings", "num 2"], output_col="col_nested", shape="array").table()

## Histograms

In [82]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [83]:
df.table()

In [84]:
df.cols.hist("price", 10)

[{'count': 1, 'lower': 1.0, 'upper': 1.9},
 {'count': 1, 'lower': 1.9, 'upper': 2.8},
 {'count': 4, 'lower': 2.8, 'upper': 3.6999999999999997},
 {'count': 1, 'lower': 3.6999999999999997, 'upper': 4.6},
 {'count': 2, 'lower': 4.6, 'upper': 5.5},
 {'count': 0, 'lower': 5.5, 'upper': 6.4},
 {'count': 0, 'lower': 6.4, 'upper': 7.300000000000001},
 {'count': 6, 'lower': 7.300000000000001, 'upper': 8.200000000000001},
 {'count': 2, 'lower': 8.200000000000001, 'upper': 9.100000000000001},
 {'count': 2, 'lower': 9.100000000000001, 'upper': 10.0}]

In [85]:
df.cols.frequency("billingId")

{'billingId': [{'value': 992, 'count': 1},
  {'value': 912, 'count': 1},
  {'value': 886, 'count': 1},
  {'value': 875, 'count': 1},
  {'value': 812, 'count': 1},
  {'value': 735, 'count': 1},
  {'value': 672, 'count': 1},
  {'value': 634, 'count': 1},
  {'value': 624, 'count': 1},
  {'value': 553, 'count': 1}]}

## Statistics

### Quantile Statistics

In [86]:
print(df.cols.min("billingId"))
print(df.cols.percentile(['billingId', 'price'], [0.05, 0.25, 0.5, 0.75, 0.95]))
print(df.cols.max("billingId"))
print(df.cols.median(["billingId", "price"]))
print(df.cols.range(["billingId", "price"]))
print(df.cols.std(["billingId", "price"]))

111
{'billingId': {'0.05': 111.0, '0.25': 111.0, '0.5': 111.0, '0.75': 111.0, '0.95': 111.0}, 'price': {'0.05': 1.0, '0.25': 1.0, '0.5': 1.0, '0.75': 1.0, '0.95': 1.0}}
992
{'billingId': 111.0, 'price': 1.0}
{'billingId': {'min': 111, 'max': 992}, 'price': {'min': 1, 'max': 10}}
{'billingId': 280.19735, 'price': 2.95285}

In [87]:
print(df.cols.min("*"))

{'id': 1, 'firstName': '(((   Heinrich )))))', 'lastName': '             GALiLEI', 'billingId': 111, 'product': '110790', 'price': 1, 'birth': '1899/01/01', 'dummyCol': '#'}

### Descriptive Statistics

In [88]:
print(df.cols.kurt("billingId"))
print(df.cols.mean("billingId"))
print(df.cols.skewness("billingId"))
print(df.cols.sum("billingId"))
print(df.cols.variance("billingId"))
print(df.cols.mad("billingId"))

-1.04115
556.0
-0.2137
10564
78510.55556
0.0

### Calculate Median Absolute deviation

In [89]:
df.cols.mad("price")

0.0

In [90]:
df.cols.mad("price", more=True)

{'mad': 0.0, 'median': 1.0}

### Calculate precentiles

In [91]:
print(df.cols.percentile(['price'], [0.05, 0.25, 0.5, 0.75, 0.95]))

{'0.05': 1.0, '0.25': 1.0, '0.5': 1.0, '0.75': 1.0, '0.95': 1.0}

### Calculate Mode

In [92]:
print(df.cols.mode(["price", "billingId"]))

[{'price': 8}, {'billingId': None}]

## String Operations

In [93]:
df.table()

In [94]:
df \
    .cols.trim("lastName") \
    .cols.lower("lastName") \
    .cols.upper(["product", "firstName"]) \
    .cols.reverse("firstName") \
    .table()

### Calculate the interquartile range

In [95]:
df.cols.iqr("price")

5.0

In [96]:
df.cols.iqr("price", more=True)

{'iqr': 5.0, 'q1': 3.0, 'q2': 8.0, 'q3': 8.0}

### Calculate  Zscore

In [97]:
df.cols.z_score("price").table()

## Cleaning and Date Operations Operations

In [98]:
df.cols.years_between("birth", "yyyyMMdd", ).table()

In [99]:
df.cols.remove("*", ["&", "%"]).table()

In [100]:
df.cols.remove_accents("lastName").table()

In [101]:
df.cols.remove_special_chars("lastName").table()

In [102]:
df.cols.clip("billingId", 100, 200).table()

In [103]:
df_abs = op.create.df(
    [
        ("words", "str", True),
        ("num", "int", True),
        ("animals", "str", True),
        ("thing", StringType(), True),
        ("two strings", StringType(), True),
        ("filter", StringType(), True),
        ("num 2", "string", True),
        ("col_array", ArrayType(StringType()), True),
        ("col_int", ArrayType(IntegerType()), True)

    ]
    ,
    [
        ("  I like     fish  ", -1, "dog", "housé", "cat-car", "a", "-1", ["baby", "sorry"], [1, 2, 3]),
        ("    zombies", -2, "cat", "tv", "dog-tv", "b", "-2", ["baby 1", "sorry 1"], [3, 4]),
        ("simpsons   cat lady", -2, "frog", "table", "eagle-tv-plus", "1", "3", ["baby 2", "sorry 2"], [5, 6, 7]),
        (None, 3, "eagle", "glass", "lion-pc", "c", "4", ["baby 3", "sorry 3"], [7, 8])
    ])

In [104]:
df_abs.cols.abs(["num", "num 2"]).table()

In [105]:
df.cols.qcut("billingId", 5).table()