# POLARS

In [5]:
import pypolars as pl
from polars import col, lit, when
df= pl.DataFrame({'City':['A','B','C','D','E','F','G','H'],
                  'Temperature':[30.5,32,25,38,40,29.6,21.3,24.9],
                  'Rain':[103,125,90,75,130,200,155,127]
                 })
import numpy as np
print(np.histogram(df["Temperature"], bins=5))

(array([3, 0, 3, 0, 2], dtype=int64), array([21.3 , 25.04, 28.78, 32.52, 36.26, 40.  ]))

WARNING!
py-polars was renamed to polars, please install polars!
https://pypi.org/project/polars/

In [7]:
# !pip install --user polars==0.10.15

Requirement already satisfied: polars==0.10.15 in c:\users\argenisleon\appdata\roaming\python\python37\site-packages (0.10.15)
Requirement already satisfied: numpy in c:\users\argenisleon\appdata\roaming\python\python37\site-packages (from polars==0.10.15) (1.20.2)

WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\argenisleon\anaconda3\python.exe -m pip install --upgrade pip' command.

In [ ]:
!pip install --user polars==0.10.15

In [2]:
pl.__version__

'0.10.15'

In [6]:
%%time
# import pandas as pl
df=pl.read_csv("c:\\\dpp.csv")

Wall time: 3.22 s

In [26]:
%%time
for c in df.columns:
    df[c].value_counts()[1:5].to_dict()

Wall time: 2.22 s

In [16]:
%%time
df.names()
df["ID_CUENTA"].value_counts()

AttributeError: names not found

In [99]:
%%time
_min=df[col_name].min()
_max=df[col_name].max()
_hist =np.linspace(_min,_max,10)


col_name="ID_CUENTA"
def hist(acc,x):
    return (x>_hist[0] and x<_hist[1])

# out = df.select(pl.fold(acc=lit(True), f=lambda acc, x: acc & x, exprs=col("ID_CUENTA")>84187779).alias("sum"))
for i in range(0,len(_hist)):
    out = df.select(pl.fold(acc=lit(0), f=hist, exprs=col(col_name) )).sum()[0,0]

print(out)
# df["LINE_ID"].apply(lambda x:hist(x))

1576
Wall time: 411 ms

In [6]:
%%time
df["RANGO_TENURE"].str.to_uppercase()

Wall time: 610 ms

shape: (4921041,)
Series: '' [str]
[
	"13 - 18 MESES"
	"25 - 36 MESES"
	"7 - 12 MESES"
	"13 - 18 MESES"
	"0 - 6 MESES"
	"7 - 12 MESES"
	"72+ MESES"
	"0 - 6 MESES"
	"72+ MESES"
	"61 - 72 MESES"
	"0 - 6 MESES"
	"72+ MESES"
	...
	"7 - 12 MESES"
	"7 - 12 MESES"
	"13 - 18 MESES"
	"7 - 12 MESES"
	"7 - 12 MESES"
	"72+ MESES"
	"7 - 12 MESES"
	"0 - 6 MESES"
	"13 - 18 MESES"
	"61 - 72 MESES"
	"25 - 36 MESES"
	"0 - 6 MESES"
]

In [10]:
%%time
df["RANGO_TENURE"].cast(int, strict=False)

Wall time: 122 ms

shape: (4921041,)
Series: 'RANGO_TENURE' [i64]
[
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	...
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
]

In [4]:
%%time
df["RANGO_TENURE"].str.upper()

AttributeError: 'StringNameSpace' object has no attribute 'upper'

In [3]:
df

shape: (4921041, 16)
┌────────┬──────────┬───────────┬────────────┬─────┬─────┬───────────┬────────┬─────┐
│ MES    ┆ ID_CUENT ┆ LINE_ID   ┆ FECHA_INST ┆ ... ┆ CAN ┆ RECARGA_P ┆ DENOMI ┆ CAN │
│ ---    ┆ A        ┆ ---       ┆ ALACION    ┆     ┆ T_R ┆ ROMEDIO   ┆ NACION ┆ TID │
│ i64    ┆ ---      ┆ i64       ┆ ---        ┆     ┆ ECA ┆ ---       ┆ _FAVOR ┆ AD_ │
│        ┆ i64      ┆           ┆ date       ┆     ┆ RGA ┆ f64       ┆ ITA    ┆ REC │
│        ┆          ┆           ┆            ┆     ┆ S   ┆           ┆ ---    ┆ ARG │
│        ┆          ┆           ┆            ┆     ┆ --- ┆           ┆ f64    ┆ AS_ │
│        ┆          ┆           ┆            ┆     ┆ i64 ┆           ┆        ┆ DEN │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ OMI │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ NAC │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ION │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ _FA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ VOR │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ITA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ --- │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ i64 │
╞════════╪══════════╪═══════════╪════════════╪═════╪═════╪═══════════╪════════╪═════╡
│ 202101 ┆ 84187779 ┆ 135431098 ┆ 2019-06-26 ┆ ... ┆ 16  ┆ 64.194375 ┆ 38.46  ┆ 11  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 23231417 ┆ 121750859 ┆ 2018-09-29 ┆ ... ┆ 7   ┆ 69.118571 ┆ 76.92  ┆ 4   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 41022657 ┆ 141878876 ┆ 2020-01-28 ┆ ... ┆ 5   ┆ 100       ┆ 100    ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 84227496 ┆ 136150853 ┆ 2019-07-05 ┆ ... ┆ 2   ┆ 76.92     ┆ 38.46  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...    ┆ ...      ┆ ...       ┆ ...        ┆ ... ┆ ... ┆ ...       ┆ ...    ┆ ... │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 87116330 ┆ 158072145 ┆ 2021-07-24 ┆ ... ┆ 14  ┆ 68.131429 ┆ 76.92  ┆ 5   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 85624339 ┆ 143924323 ┆ 2020-06-13 ┆ ... ┆ 2   ┆ 134.62    ┆ 134.62 ┆ 2   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 24568290 ┆ 29397839  ┆ 2016-03-16 ┆ ... ┆ 1   ┆ 84.62     ┆ 84.62  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 82977377 ┆ 120162438 ┆ 2018-09-05 ┆ ... ┆ 5   ┆ 107.692   ┆ 76.92  ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 86692811 ┆ 153723292 ┆ 2021-03-30 ┆ ... ┆ 1   ┆ 76.92     ┆ 76.92  ┆ 1   │
└────────┴──────────┴───────────┴────────────┴─────┴─────┴───────────┴────────┴─────┘

In [17]:
%%time
dir(df["MES"])

Wall time: 0 ns

['__add__',
 '__and__',
 '__array__',
 '__array_ufunc__',
 '__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_from_arrow',
 '_from_pandas',
 '_from_pyseries',
 '_repeat',
 '_s',
 'abs',
 'alias',
 'append',
 'apply',
 'arg_max',
 'arg_min',
 'arg_sort',
 'arg_true',
 'arg_unique',
 'argsort',
 'arr',
 'cast',
 'chunk_lengths',
 'clip',
 'clone',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dot',
 'drop_nulls',
 'dt',
 'dtype',
 'explode',
 'fill_null',
 'filter',
 'floor',
 'hash',
 'head',
 'inner',
 'interpolate',
 'is_boolean',
 'is_datetime',
 'is_duplicated',
 'is_finite',
 'is_first',
 'is_float',
 'is_in',
 'is_infinite',
 'is_nan',
 'is_not_nan',
 'is_not_null',
 'is_null',
 'is_numeric',
 'is_unique',
 'is_utf8',
 'kurtosis',
 'len',
 'limit',
 'max',
 'mean',
 'median',
 'min',
 'mode',
 'n_chunks',
 'n_unique',
 'name',
 'null_count',
 'peak_max',
 'peak_min',
 'quantile',
 'rank',
 'rechunk',
 'reinterpret',
 'rename',
 'rolling_apply',
 'rolling_max',
 'rolling_mean',
 'rolling_median',
 'rolling_min',
 'rolling_quantile',
 'rolling_skew',
 'rolling_std',
 'rolling_sum',
 'rolling_var',
 'round',
 'sample',
 'series_equal',
 'set',
 'set_at_idx',
 'shape',
 'shift',
 'shift_and_fill',
 'shrink_to_fit',
 'skew',
 'slice',
 'sort',
 'sqrt',
 'std',
 'str',
 'str_concat',
 'sum',
 'tail',
 'take',
 'take_every',
 'to_arrow',
 'to_dummies',
 'to_frame',
 'to_list',
 'to_numpy',
 'unique',
 'value_counts',
 'var',
 'view',
 'zip_with']

In [32]:
df

shape: (4921041, 16)
┌────────┬──────────┬───────────┬────────────┬─────┬─────┬───────────┬────────┬─────┐
│ MES    ┆ ID_CUENT ┆ LINE_ID   ┆ FECHA_INST ┆ ... ┆ CAN ┆ RECARGA_P ┆ DENOMI ┆ CAN │
│ ---    ┆ A        ┆ ---       ┆ ALACION    ┆     ┆ T_R ┆ ROMEDIO   ┆ NACION ┆ TID │
│ i64    ┆ ---      ┆ i64       ┆ ---        ┆     ┆ ECA ┆ ---       ┆ _FAVOR ┆ AD_ │
│        ┆ i64      ┆           ┆ date       ┆     ┆ RGA ┆ f64       ┆ ITA    ┆ REC │
│        ┆          ┆           ┆            ┆     ┆ S   ┆           ┆ ---    ┆ ARG │
│        ┆          ┆           ┆            ┆     ┆ --- ┆           ┆ f64    ┆ AS_ │
│        ┆          ┆           ┆            ┆     ┆ i64 ┆           ┆        ┆ DEN │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ OMI │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ NAC │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ION │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ _FA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ VOR │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ITA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ --- │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ i64 │
╞════════╪══════════╪═══════════╪════════════╪═════╪═════╪═══════════╪════════╪═════╡
│ 202101 ┆ 84187779 ┆ 135431098 ┆ 2019-06-26 ┆ ... ┆ 16  ┆ 64.194375 ┆ 38.46  ┆ 11  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 23231417 ┆ 121750859 ┆ 2018-09-29 ┆ ... ┆ 7   ┆ 69.118571 ┆ 76.92  ┆ 4   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 41022657 ┆ 141878876 ┆ 2020-01-28 ┆ ... ┆ 5   ┆ 100       ┆ 100    ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 84227496 ┆ 136150853 ┆ 2019-07-05 ┆ ... ┆ 2   ┆ 76.92     ┆ 38.46  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...    ┆ ...      ┆ ...       ┆ ...        ┆ ... ┆ ... ┆ ...       ┆ ...    ┆ ... │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 87116330 ┆ 158072145 ┆ 2021-07-24 ┆ ... ┆ 14  ┆ 68.131429 ┆ 76.92  ┆ 5   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 85624339 ┆ 143924323 ┆ 2020-06-13 ┆ ... ┆ 2   ┆ 134.62    ┆ 134.62 ┆ 2   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 24568290 ┆ 29397839  ┆ 2016-03-16 ┆ ... ┆ 1   ┆ 84.62     ┆ 84.62  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 82977377 ┆ 120162438 ┆ 2018-09-05 ┆ ... ┆ 5   ┆ 107.692   ┆ 76.92  ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 86692811 ┆ 153723292 ┆ 2021-03-30 ┆ ... ┆ 1   ┆ 76.92     ┆ 76.92  ┆ 1   │
└────────┴──────────┴───────────┴────────────┴─────┴─────┴───────────┴────────┴─────┘

In [53]:
len(df)

4921041

In [76]:
df

shape: (4921041, 16)
┌────────┬──────────┬───────────┬────────────┬─────┬─────┬───────────┬────────┬─────┐
│ MES    ┆ ID_CUENT ┆ LINE_ID   ┆ FECHA_INST ┆ ... ┆ CAN ┆ RECARGA_P ┆ DENOMI ┆ CAN │
│ ---    ┆ A        ┆ ---       ┆ ALACION    ┆     ┆ T_R ┆ ROMEDIO   ┆ NACION ┆ TID │
│ i64    ┆ ---      ┆ i64       ┆ ---        ┆     ┆ ECA ┆ ---       ┆ _FAVOR ┆ AD_ │
│        ┆ i64      ┆           ┆ date       ┆     ┆ RGA ┆ f64       ┆ ITA    ┆ REC │
│        ┆          ┆           ┆            ┆     ┆ S   ┆           ┆ ---    ┆ ARG │
│        ┆          ┆           ┆            ┆     ┆ --- ┆           ┆ f64    ┆ AS_ │
│        ┆          ┆           ┆            ┆     ┆ i64 ┆           ┆        ┆ DEN │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ OMI │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ NAC │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ION │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ _FA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ VOR │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ ITA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ --- │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆        ┆ i64 │
╞════════╪══════════╪═══════════╪════════════╪═════╪═════╪═══════════╪════════╪═════╡
│ 202101 ┆ 84187779 ┆ 135431098 ┆ 2019-06-26 ┆ ... ┆ 16  ┆ 64.194375 ┆ 38.46  ┆ 11  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 23231417 ┆ 121750859 ┆ 2018-09-29 ┆ ... ┆ 7   ┆ 69.118571 ┆ 76.92  ┆ 4   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 41022657 ┆ 141878876 ┆ 2020-01-28 ┆ ... ┆ 5   ┆ 100       ┆ 100    ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 84227496 ┆ 136150853 ┆ 2019-07-05 ┆ ... ┆ 2   ┆ 76.92     ┆ 38.46  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...    ┆ ...      ┆ ...       ┆ ...        ┆ ... ┆ ... ┆ ...       ┆ ...    ┆ ... │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 87116330 ┆ 158072145 ┆ 2021-07-24 ┆ ... ┆ 14  ┆ 68.131429 ┆ 76.92  ┆ 5   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 85624339 ┆ 143924323 ┆ 2020-06-13 ┆ ... ┆ 2   ┆ 134.62    ┆ 134.62 ┆ 2   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 24568290 ┆ 29397839  ┆ 2016-03-16 ┆ ... ┆ 1   ┆ 84.62     ┆ 84.62  ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 82977377 ┆ 120162438 ┆ 2018-09-05 ┆ ... ┆ 5   ┆ 107.692   ┆ 76.92  ┆ 3   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 86692811 ┆ 153723292 ┆ 2021-03-30 ┆ ... ┆ 1   ┆ 76.92     ┆ 76.92  ┆ 1   │
└────────┴──────────┴───────────┴────────────┴─────┴─────┴───────────┴────────┴─────┘

In [84]:
df

,MES,ID_CUENTA,LINE_ID,FECHA_INSTALACION,RANGO_TENURE,CANTIDAD_PRESTAME,MONTO_PRESTADO,CANTIDAD_PAGOS,MONTO_PAGADO,BALANCE_FINAL_MES,ESCALA_SCORE_MOVIL,MONTO_RECARGADO,CANT_RECARGAS,RECARGA_PROMEDIO,DENOMINACION_FAVORITA,CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
0,202101,84187779.0,135431098.0,2019-06-26,13 - 18 MESES,2,46,4,-46,0,MEDIA,1027.11,16.0,64.194375,38.46,11.0
1,202101,23231417.0,121750859.0,2018-09-29,25 - 36 MESES,2,58,4,-58,0,SIN HISTORIAL,483.83,7.0,69.118571,76.92,4.0
2,202101,41022657.0,141878876.0,2020-01-28,7 - 12 MESES,3,92,7,-115,-23,SIN HISTORIAL,500.00,5.0,100.000000,100.00,3.0
3,202101,84227496.0,136150853.0,2019-07-05,13 - 18 MESES,0,0,1,-3,-3,SUPER ALTA,153.84,2.0,76.920000,38.46,1.0
4,202101,84430098.0,146447180.0,2020-09-11,0 - 6 MESES,2,46,4,-46,0,SIN SCORE,1038.47,8.0,129.808750,153.85,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921036,202110,87116330.0,158072145.0,2021-07-24,0 - 6 MESES,5,230,9,-184,46,SIN HISTORIAL,953.84,14.0,68.131429,76.92,5.0
4921037,202110,85624339.0,143924323.0,2020-06-13,13 - 18 MESES,2,46,3,-23,23,SIN HISTORIAL,269.24,2.0,134.620000,134.62,2.0
4921038,202110,24568290.0,29397839.0,2016-03-16,61 - 72 MESES,0,0,1,-7,-7,BAJA,84.62,1.0,84.620000,84.62,1.0
4921039,202110,82977377.0,120162438.0,2018-09-05,25 - 36 MESES,2,92,3,-46,46,STATUS ADVERSO,538.46,5.0,107.692000,76.92,3.0
4921040,202110,86692811.0,153723292.0,2021-03-30,0 - 6 MESES,2,56,1,0,56,SIN HISTORIAL,76.92,1.0,76.920000,76.92,1.0

In [94]:
%%time
# print(df["MES"].value_counts())
# dir(df["MES"].value_counts())
# df["RANGO_TENURE"].str.to_uppercase()
df["MES"].min()
# for col_name in df.columns:
# #     print(df[col_name].value_counts()[:5])
#     print(df[col_name].value_counts()[:5])
    
#     print(df[col_name].quartiles())

Wall time: 74 ms

202101

In [68]:
df

polars.eager.frame.DataFrame

In [8]:
%%time
import numpy as np
print(np.histogram(df["MES"], bins=10))

(array([513807, 493261, 538295, 524859, 525874, 481701, 499971, 514172,
       481224, 347877], dtype=int64), array([202101. , 202101.9, 202102.8, 202103.7, 202104.6, 202105.5,
       202106.4, 202107.3, 202108.2, 202109.1, 202110. ]))
Wall time: 241 ms

In [9]:
# !pip install fast-histogram

In [16]:
!pip install --ignore-installed numba==0.50.1

Collecting numba==0.50.1
  Using cached numba-0.50.1-cp37-cp37m-win_amd64.whl (2.2 MB)
Collecting llvmlite<0.34,>=0.33.0.dev0
  Using cached llvmlite-0.33.0-cp37-cp37m-win_amd64.whl (15.0 MB)
Collecting numpy>=1.15
  Using cached numpy-1.21.3-cp37-cp37m-win_amd64.whl (14.0 MB)
Collecting setuptools
  Downloading setuptools-58.4.0-py3-none-any.whl (946 kB)
Installing collected packages: setuptools, numpy, llvmlite, numba
Successfully installed llvmlite-0.33.0 numba-0.50.1 numpy-1.21.3 setuptools-58.4.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sparkmagic 0.12.9 requires nose, which is not installed.
mlflow 0.9.1 requires Flask, which is not installed.
hdijupyterutils 0.12.9 requires jupyter>=1, which is not installed.
hdijupyterutils 0.12.9 requires nose, which is not installed.
flask-appbuilder 2.3.0 requires Flask<2,>=0.12, which is not installed.
datashader 0.8.0 requires datashape>=0.5.1, which is not installed.
datashader 0.8.0 requires scikit-image, which is not installed.
tensorflow 2.4.1 requires numpy~=1.19.2, but you have numpy 1.21.3 which is incompatible.
-umba 0.48.0 requires llvmlite<0.32.0,>=0.31.0dev0, but you have llvmlite 0.33.0 which is incompatible.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.21.3 which is incompatible.
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\argenisleon\anaconda3\python.exe -m pip install --upgrade pip' command.

In [17]:
import numba
numba.__version__

'0.48.0'

In [13]:
from numba import jit
@jit
def hist1d(v):
    return np.histogram(v, bins=5)
hist1d(df["MES"].to_numpy())

SystemError: CPUDispatcher(<function hist1d at 0x000001DEBD093C18>) returned a result with an error set

In [73]:
df

In [13]:
%%time
df.sort(["CANTIDAD_PRESTAME", "MONTO_PRESTADO"], reverse=[True, False])

Wall time: 2.98 s

shape: (4921041, 16)
┌────────┬──────────┬───────────┬────────────┬─────┬─────┬───────────┬───────┬─────┐
│ MES    ┆ ID_CUENT ┆ LINE_ID   ┆ FECHA_INST ┆ ... ┆ CAN ┆ RECARGA_P ┆ DENOM ┆ CAN │
│ ---    ┆ A        ┆ ---       ┆ ALACION    ┆     ┆ T_R ┆ ROMEDIO   ┆ INACI ┆ TID │
│ i64    ┆ ---      ┆ i64       ┆ ---        ┆     ┆ ECA ┆ ---       ┆ ON_FA ┆ AD_ │
│        ┆ i64      ┆           ┆ date       ┆     ┆ RGA ┆ f64       ┆ VORIT ┆ REC │
│        ┆          ┆           ┆            ┆     ┆ S   ┆           ┆ A     ┆ ARG │
│        ┆          ┆           ┆            ┆     ┆ --- ┆           ┆ ---   ┆ AS_ │
│        ┆          ┆           ┆            ┆     ┆ i64 ┆           ┆ f64   ┆ DEN │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ OMI │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ NAC │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ ION │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ _FA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ VOR │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ ITA │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ --- │
│        ┆          ┆           ┆            ┆     ┆     ┆           ┆       ┆ i64 │
╞════════╪══════════╪═══════════╪════════════╪═════╪═════╪═══════════╪═══════╪═════╡
│ 202102 ┆ 85935969 ┆ 146483168 ┆ 2020-09-13 ┆ ... ┆ 124 ┆ 80.9525   ┆ 76.92 ┆ 107 │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202106 ┆ 85935969 ┆ 146483168 ┆ 2020-09-13 ┆ ... ┆ 107 ┆ 81.808692 ┆ 76.92 ┆ 92  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202101 ┆ 85935969 ┆ 146483168 ┆ 2020-09-13 ┆ ... ┆ 125 ┆ 88.39768  ┆ 76.92 ┆ 94  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202105 ┆ 85935969 ┆ 150079528 ┆ 2020-12-31 ┆ ... ┆ 113 ┆ 76.171681 ┆ 76.92 ┆ 96  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...    ┆ ...      ┆ ...       ┆ ...        ┆ ... ┆ ... ┆ ...       ┆ ...   ┆ ... │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 10837015 ┆ 6402996   ┆ 2009-07-26 ┆ ... ┆ 1   ┆ 38.46     ┆ 38.46 ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 82186278 ┆ 105508083 ┆ 2018-02-09 ┆ ... ┆ 1   ┆ 38.46     ┆ 38.46 ┆ 1   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 86485978 ┆ 151524552 ┆ 2021-02-07 ┆ ... ┆ 3   ┆ 63.843333 ┆ 76.92 ┆ 2   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202109 ┆ 86742784 ┆ 149806168 ┆ 2021-04-15 ┆ ... ┆ 7   ┆ 65.931429 ┆ 76.92 ┆ 5   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 202110 ┆ 24568290 ┆ 29397839  ┆ 2016-03-16 ┆ ... ┆ 1   ┆ 84.62     ┆ 84.62 ┆ 1   │
└────────┴──────────┴───────────┴────────────┴─────┴─────┴───────────┴───────┴─────┘

In [56]:
from fast_histogram import histogram1d, histogram2d
histogram1d(df["MES"], bins=10)

TypeError: histogram1d() missing 1 required positional argument: 'range'

In [387]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [393]:
from datatable import group

ImportError: cannot import name 'group' from 'datatable' (C:\Users\argenisleon\Anaconda3\lib\site-packages\datatable\__init__.py)

In [402]:
%%time
df.cols.frequency(col_name)

Wall time: 1.07 s

{'frequency': {'RANGO_TENURE': [{'values': '0 - 6 MESES', 'count': 959318},
   {'values': '72+ MESES', 'count': 947947},
   {'values': '7 - 12 MESES', 'count': 650973},
   {'values': '25 - 36 MESES', 'count': 599021},
   {'values': '13 - 18 MESES', 'count': 489658},
   {'values': '19 - 24 MESES', 'count': 415711},
   {'values': '36 - 48 MESES', 'count': 371827},
   {'values': '49 - 60 MESES', 'count': 275541},
   {'values': '61 - 72 MESES', 'count': 211044},
   {'values': '', 'count': 1}]}}

In [13]:
df.cols.infer_data_types("*")

AttributeError: 'datatable.Frame' object has no attribute 'apply'

In [12]:
df.cols.profile()

AttributeError: 'datatable.Frame' object has no attribute 'apply'

In [395]:
col_name="RANGO_TENURE"
# df.data[col_name][:,{"hola":count["RANGO_TENURE"]}, by("RANGO_TENURE")]
df.data[:, dt.count(), by(col_name)].sort(-f.count)[0:10,:].to_dict()

{'RANGO_TENURE': ['0 - 6 MESES',
  '72+ MESES',
  '7 - 12 MESES',
  '25 - 36 MESES',
  '13 - 18 MESES',
  '19 - 24 MESES',
  '36 - 48 MESES',
  '49 - 60 MESES',
  '61 - 72 MESES',
  ''],
 'count': [959318,
  947947,
  650973,
  599021,
  489658,
  415711,
  371827,
  275541,
  211044,
  1]}

In [37]:
%%time
df["RANGO_TENURE"].cast(float,strict=False)

Wall time: 323 ms

shape: (4921041,)
Series: 'RANGO_TENURE' [f64]
[
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	...
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
	null
]

In [27]:
dir(df["ID_CUENTA"])

['__add__',
 '__and__',
 '__array_ufunc__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__or__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '_from_pyseries',
 '_repeat',
 '_s',
 'append',
 'apply',
 'arg_max',
 'arg_min',
 'arg_sort',
 'arg_true',
 'arg_unique',
 'argsort',
 'as_duration',
 'cast',
 'chunk_lengths',
 'clone',
 'cum_max',
 'cum_min',
 'cum_sum',
 'describe',
 'drop_nulls',
 'dt',
 'dtype',
 'explode',
 'fill_none',
 'filter',
 'from_arrow',
 'head',
 'inner',
 'is_boolean',
 'is_duplicated',
 'is_finite',
 'is_first',
 'is_float',
 'is_in',
 'is_infinite',
 'is_nan',
 'is_not_nan',
 'is_not_null',
 'is_null',
 'is_numeric',
 'is_unique',
 'is_utf8',
 'len',
 'limit',
 'max',
 'mean',
 'median',
 'min',
 'n_chunks',
 'n_unique',
 'name',
 'null_count',
 'parse_date',
 'peak_max',
 'peak_min',
 'quantile',
 'rechunk',
 'rename',
 'rolling_max',
 'rolling_mean',
 'rolling_min',
 'rolling_sum',
 'round',
 'sample',
 'series_equal',
 'set',
 'set_at_idx',
 'shape',
 'shift',
 'shrink_to_fit',
 'slice',
 'sort',
 'std',
 'str',
 'sum',
 'tail',
 'take',
 'take_every',
 'to_arrow',
 'to_dummies',
 'to_frame',
 'to_list',
 'to_numpy',
 'unique',
 'value_counts',
 'var',
 'view',
 'zip_with']

# OPTIMUS

In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("..")
sys.path.append("../../datatable/src/")

In [2]:
from optimus import Optimus

In [3]:
op=Optimus("datatable")

In [4]:
# df=op.load.file("data/foo.csv")
df=op.load.file("c:\\\dpp.csv")

In [5]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [24]:
df.mask.empty("MES")

      C0
  (bool)
--------
       0
       0
       0
       0
       0
       0
       0
       0
       0
       0
       0

In [17]:
df.cols.names()

['MES',
 'ID_CUENTA',
 'LINE_ID',
 'FECHA_INSTALACION',
 'RANGO_TENURE',
 'CANTIDAD_PRESTAME',
 'MONTO_PRESTADO',
 'CANTIDAD_PAGOS',
 'MONTO_PAGADO',
 'BALANCE_FINAL_MES',
 'ESCALA_SCORE_MOVIL',
 'MONTO_RECARGADO',
 'CANT_RECARGAS',
 'RECARGA_PROMEDIO',
 'DENOMINACION_FAVORITA',
 'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA']

In [48]:
import datatable as dt

In [54]:
DT =dt.Frame

TypeError: can't set attributes of built-in/extension type 'datatable.Frame'

In [51]:
def or1(self):
    print(1)
dt.Frame.__or__==or1

AttributeError: type object 'datatable.Frame' has no attribute '__or__'

In [47]:
df["MES"]|df["MES"]

func <class 'method'> <bound method BaseFunctions.to_boolean of <optimus.engines.datatable.functions.DatatableFunctions object at 0x000001A501925CA0>>
func <class 'method'> <bound method BaseFunctions.to_boolean of <optimus.engines.datatable.functions.DatatableFunctions object at 0x000001A501918C70>>

TypeError: unsupported operand type(s) for |: 'datatable.Frame' and 'datatable.Frame'

In [28]:
df.cols.count_missings("MES")

        |    C0
        | bool8
------- + -----
      0 |     0
      1 |     0
      2 |     0
      3 |     0
      4 |     0
      5 |     0
      6 |     0
      7 |     0
      8 |     0
      9 |     0
     10 |     0
     11 |     0
     12 |     0
     13 |     0
     14 |     0
      … |     …
4921036 |     0
4921037 |     0
4921038 |     0
4921039 |     0
4921040 |     0
[4921041 rows x 1 column]

func <class 'method'> <bound method BaseFunctions.to_boolean of <optimus.engines.datatable.functions.DatatableFunctions object at 0x000001A5015CAC40>>
func <class 'method'> <bound method BaseFunctions.to_boolean of <optimus.engines.datatable.functions.DatatableFunctions object at 0x000001A501878190>>

TypeError: unsupported operand type(s) for |: 'datatable.Frame' and 'datatable.Frame'

In [80]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [111]:
from datatable import ifelse,f

df.data[:, ifelse(f.MES == None, True, False)]

In [155]:
# df.cols.count_nulls("ID_CUENTA")
df.mask.null("MES")

      C0
  (bool)
--------
       0
       0
       0
       0
       0
       0
       0
       0
       0
       0
       0

In [196]:
a=df.data
a[:,dt.math.pow(f.MES,2)]

In [192]:
import datatable as dt
df.data[:,dt.math.pow(f.MES,2)]

In [158]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

TypeError: unsupported operand type(s) for ** or pow(): 'datatable.Frame' and 'int'

In [118]:
df.mask.numeric("MES")

ValueError: 'missing_columns' must be 'C0', received '['MES']'.

In [115]:
df.cols.count_nan()

ValueError: 'missing_columns' must be 'C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14' or 'C15', received '['MES', 'ID_CUENTA', 'LINE_ID', 'FECHA_INSTALACION', 'RANGO_TENURE', 'CANTIDAD_PRESTAME', 'MONTO_PRESTADO', 'CANTIDAD_PAGOS', 'MONTO_PAGADO', 'BALANCE_FINAL_MES', 'ESCALA_SCORE_MOVIL', 'MONTO_RECARGADO', 'CANT_RECARGAS', 'RECARGA_PROMEDIO', 'DENOMINACION_FAVORITA', 'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA']'.

In [83]:
null
bool
creditvard
zipcode
int
float
datetime
is missing
istr
datetime


regexes = []
col_name = "MES"

mask = df[col_name].cols.match_regex(col_name, "202101")
# df[col_name].rows.select(mask)
mask.cols.sum()

# print(df[mask,:])

513807.0

In [70]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [73]:
%%time

Wall time: 1.96 s

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [7]:
%%time
df.cols.frequency("*",n=10)
#4.45 vaex

Wall time: 5.26 s

{'frequency': {'MES': [{'values': 202103, 'count': 538295},
   {'values': 202105, 'count': 525874},
   {'values': 202104, 'count': 524859},
   {'values': 202108, 'count': 514172},
   {'values': 202101, 'count': 513807},
   {'values': 202107, 'count': 499971},
   {'values': 202102, 'count': 493261},
   {'values': 202106, 'count': 481701},
   {'values': 202109, 'count': 481224},
   {'values': 202110, 'count': 347877}],
  'ID_CUENTA': [{'values': 85142284, 'count': 37},
   {'values': 10957735, 'count': 36},
   {'values': 85099541, 'count': 33},
   {'values': 81340366, 'count': 31},
   {'values': 14815006, 'count': 30},
   {'values': 26270207, 'count': 30},
   {'values': 83264743, 'count': 30},
   {'values': 10487941, 'count': 29},
   {'values': 12678052, 'count': 29},
   {'values': 12758367, 'count': 29}],
  'LINE_ID': [{'values': 14307818, 'count': 20},
   {'values': 2597102, 'count': 19},
   {'values': 3122522, 'count': 18},
   {'values': 852342, 'count': 16},
   {'values': 17980036, 'count': 16},
   {'values': 41560195, 'count': 16},
   {'values': 137719680, 'count': 16},
   {'values': 1095726, 'count': 14},
   {'values': 14471533, 'count': 14},
   {'values': 32944116, 'count': 14}],
  'FECHA_INSTALACION': [{'values': datetime.date(2020, 10, 30), 'count': 6842},
   {'values': datetime.date(2020, 11, 17), 'count': 6828},
   {'values': datetime.date(2020, 11, 10), 'count': 6695},
   {'values': datetime.date(2020, 10, 29), 'count': 6590},
   {'values': datetime.date(2020, 10, 28), 'count': 6541},
   {'values': datetime.date(2020, 12, 28), 'count': 6468},
   {'values': datetime.date(2020, 11, 30), 'count': 6394},
   {'values': datetime.date(2020, 12, 29), 'count': 6340},
   {'values': datetime.date(2021, 1, 7), 'count': 6308},
   {'values': datetime.date(2020, 12, 30), 'count': 6297}],
  'RANGO_TENURE': [{'values': '0 - 6 MESES', 'count': 959318},
   {'values': '72+ MESES', 'count': 947947},
   {'values': '7 - 12 MESES', 'count': 650973},
   {'values': '25 - 36 MESES', 'count': 599021},
   {'values': '13 - 18 MESES', 'count': 489658},
   {'values': '19 - 24 MESES', 'count': 415711},
   {'values': '36 - 48 MESES', 'count': 371827},
   {'values': '49 - 60 MESES', 'count': 275541},
   {'values': '61 - 72 MESES', 'count': 211044},
   {'values': '', 'count': 1}],
  'CANTIDAD_PRESTAME': [{'values': 1, 'count': 2170144},
   {'values': 2, 'count': 999094},
   {'values': 3, 'count': 530571},
   {'values': 0, 'count': 487235},
   {'values': 4, 'count': 300270},
   {'values': 5, 'count': 172371},
   {'values': 6, 'count': 99924},
   {'values': 7, 'count': 58803},
   {'values': 8, 'count': 34815},
   {'values': 9, 'count': 21751}],
  'MONTO_PRESTADO': [{'values': 23, 'count': 755157},
   {'values': 46, 'count': 747527},
   {'values': 0, 'count': 487235},
   {'values': 33, 'count': 407440},
   {'values': 24, 'count': 307423},
   {'values': 92, 'count': 276081},
   {'values': 69, 'count': 226379},
   {'values': 50, 'count': 132612},
   {'values': 138, 'count': 126708},
   {'values': 67, 'count': 93976}],
  'CANTIDAD_PAGOS': [{'values': 2, 'count': 1395935},
   {'values': 1, 'count': 1031885},
   {'values': 4, 'count': 579555},
   {'values': 3, 'count': 530856},
   {'values': 5, 'count': 291470},
   {'values': 6, 'count': 287719},
   {'values': 7, 'count': 168980},
   {'values': 8, 'count': 154654},
   {'values': 9, 'count': 98311},
   {'values': 10, 'count': 85300}],
  'MONTO_PAGADO': [{'values': -23, 'count': 727007},
   {'values': -46, 'count': 722997},
   {'values': 0, 'count': 373745},
   {'values': -33, 'count': 303582},
   {'values': -92, 'count': 259700},
   {'values': -24, 'count': 233176},
   {'values': -69, 'count': 220945},
   {'values': -138, 'count': 120647},
   {'values': -50, 'count': 89890},
   {'values': -115, 'count': 83574}],
  'BALANCE_FINAL_MES': [{'values': 0, 'count': 2537089},
   {'values': 23, 'count': 399557},
   {'values': -23, 'count': 356951},
   {'values': 46, 'count': 291221},
   {'values': -46, 'count': 278585},
   {'values': -22, 'count': 61690},
   {'values': 24, 'count': 50709},
   {'values': 33, 'count': 45842},
   {'values': -33, 'count': 40184},
   {'values': -24, 'count': 35627}],
  'ESCALA_SCORE_MOVIL': [{'values': 'SIN HISTORIAL', 'count': 1429294},
   {'values': 'SUPER ALTA', 'count': 901065},
   {'values': 'STATUS ADVERSO', 'count': 822665},
   {'values': 'SIN SCORE', 'count': 752648},
   {'values': 'BAJA', 'count': 401050},
   {'values': 'MEDIA', 'count': 180670},
   {'values': 'ALTA', 'count': 162796},
   {'values': 'MEDIA BAJA', 'count': 127970},
   {'values': 'MEDIA ALTA', 'count': 85783},
   {'values': 'SCORES DE EXCEPCION', 'count': 57100}],
  'MONTO_RECARGADO': [{'values': 76.92, 'count': 260052},
   {'values': 153.84, 'count': 176349},
   {'values': 230.76, 'count': 134925},
   {'values': 115.38, 'count': 133729},
   {'values': 192.29999999999998, 'count': 108358},
   {'values': 307.68, 'count': 96338},
   {'values': 269.21999999999997, 'count': 85513},
   {'values': 38.46, 'count': 76184},
   {'values': 346.14, 'count': 72967},
   {'values': None, 'count': 72280}],
  'CANT_RECARGAS': [{'values': 2, 'count': 541134},
   {'values': 3, 'count': 534446},
   {'values': 4, 'count': 523943},
   {'values': 5, 'count': 507381},
   {'values': 1, 'count': 502306},
   {'values': 6, 'count': 474313},
   {'values': 7, 'count': 402671},
   {'values': 8, 'count': 327312},
   {'values': 9, 'count': 262031},
   {'values': 10, 'count': 202377}],
  'RECARGA_PROMEDIO': [{'values': 76.92, 'count': 628597},
   {'values': 38.46, 'count': 143644},
   {'values': 57.69, 'count': 117229},
   {'values': 153.85, 'count': 116775},
   {'values': 115.38, 'count': 93307},
   {'values': None, 'count': 72280},
   {'values': 96.14999999999999, 'count': 66544},
   {'values': 64.1, 'count': 65405},
   {'values': 67.30499999999999, 'count': 47768},
   {'values': 89.74, 'count': 45514}],
  'DENOMINACION_FAVORITA': [{'values': 76.92, 'count': 2255381},
   {'values': 38.46, 'count': 797118},
   {'values': 115.38, 'count': 616892},
   {'values': 153.85, 'count': 499125},
   {'values': 23.08, 'count': 97253},
   {'values': None, 'count': 72280},
   {'values': 46.15, 'count': 70553},
   {'values': 76.14999999999999, 'count': 48928},
   {'values': 106.92, 'count': 38832},
   {'values': 100.0, 'count': 36512}],
  'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA': [{'values': 1, 'count': 1068843},
   {'values': 2, 'count': 1042954},
   {'values': 3, 'count': 861577},
   {'values': 4, 'count': 636290},
   {'values': 5, 'count': 432799},
   {'values': 6, 'count': 279368},
   {'values': 7, 'count': 179837},
   {'values': 8, 'count': 119070},
   {'values': 9, 'count': 77124},
   {'values': None, 'count': 72280}]}}

In [8]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [11]:
%%time
df.cols.hist("*")

Wall time: 3.83 s

{'hist': {'MES': [{'lower': 202103, 'upper': 202105, 'count': 538295},
   {'lower': 202105, 'upper': 202104, 'count': 525874},
   {'lower': 202104, 'upper': 202108, 'count': 524859},
   {'lower': 202108, 'upper': 202101, 'count': 514172},
   {'lower': 202101, 'upper': 202107, 'count': 513807},
   {'lower': 202107, 'upper': 202102, 'count': 499971},
   {'lower': 202102, 'upper': 202106, 'count': 493261},
   {'lower': 202106, 'upper': 202109, 'count': 481701},
   {'lower': 202109, 'upper': 202110, 'count': 481224}],
  'ID_CUENTA': [{'lower': 85142284, 'upper': 10957735, 'count': 37},
   {'lower': 10957735, 'upper': 85099541, 'count': 36},
   {'lower': 85099541, 'upper': 81340366, 'count': 33},
   {'lower': 81340366, 'upper': 14815006, 'count': 31},
   {'lower': 14815006, 'upper': 26270207, 'count': 30},
   {'lower': 26270207, 'upper': 83264743, 'count': 30},
   {'lower': 83264743, 'upper': 10487941, 'count': 30},
   {'lower': 10487941, 'upper': 12678052, 'count': 29},
   {'lower': 12678052, 'upper': 12758367, 'count': 29},
   {'lower': 12758367, 'upper': 13588062, 'count': 29},
   {'lower': 13588062, 'upper': 13898645, 'count': 29},
   {'lower': 13898645, 'upper': 23128381, 'count': 29},
   {'lower': 23128381, 'upper': 81910582, 'count': 29},
   {'lower': 81910582, 'upper': 86204028, 'count': 29},
   {'lower': 86204028, 'upper': 11000167, 'count': 29},
   {'lower': 11000167, 'upper': 11705746, 'count': 28},
   {'lower': 11705746, 'upper': 12966920, 'count': 28},
   {'lower': 12966920, 'upper': 13045280, 'count': 28},
   {'lower': 13045280, 'upper': 14612920, 'count': 28}],
  'LINE_ID': [{'lower': 14307818, 'upper': 2597102, 'count': 20},
   {'lower': 2597102, 'upper': 3122522, 'count': 19},
   {'lower': 3122522, 'upper': 852342, 'count': 18},
   {'lower': 852342, 'upper': 17980036, 'count': 16},
   {'lower': 17980036, 'upper': 41560195, 'count': 16},
   {'lower': 41560195, 'upper': 137719680, 'count': 16},
   {'lower': 137719680, 'upper': 1095726, 'count': 16},
   {'lower': 1095726, 'upper': 14471533, 'count': 14},
   {'lower': 14471533, 'upper': 32944116, 'count': 14},
   {'lower': 32944116, 'upper': 86963109, 'count': 14},
   {'lower': 86963109, 'upper': 113536412, 'count': 14},
   {'lower': 113536412, 'upper': 139349302, 'count': 14},
   {'lower': 139349302, 'upper': 9889442, 'count': 14},
   {'lower': 9889442, 'upper': 3541838, 'count': 13},
   {'lower': 3541838, 'upper': 4863207, 'count': 12},
   {'lower': 4863207, 'upper': 17283937, 'count': 12},
   {'lower': 17283937, 'upper': 59480599, 'count': 12},
   {'lower': 59480599, 'upper': 130708665, 'count': 12},
   {'lower': 130708665, 'upper': 138706822, 'count': 12}],
  'FECHA_INSTALACION': [{'lower': 18565, 'upper': 18583, 'count': 6842},
   {'lower': 18583, 'upper': 18576, 'count': 6828},
   {'lower': 18576, 'upper': 18564, 'count': 6695},
   {'lower': 18564, 'upper': 18563, 'count': 6590},
   {'lower': 18563, 'upper': 18624, 'count': 6541},
   {'lower': 18624, 'upper': 18596, 'count': 6468},
   {'lower': 18596, 'upper': 18625, 'count': 6394},
   {'lower': 18625, 'upper': 18634, 'count': 6340},
   {'lower': 18634, 'upper': 18626, 'count': 6308},
   {'lower': 18626, 'upper': 18619, 'count': 6297},
   {'lower': 18619, 'upper': 18561, 'count': 6198},
   {'lower': 18561, 'upper': 18562, 'count': 6157},
   {'lower': 18562, 'upper': 18534, 'count': 6156},
   {'lower': 18534, 'upper': 18604, 'count': 6125},
   {'lower': 18604, 'upper': 18568, 'count': 6080},
   {'lower': 18568, 'upper': 18613, 'count': 6050},
   {'lower': 18613, 'upper': 18617, 'count': 6012},
   {'lower': 18617, 'upper': 18635, 'count': 6005},
   {'lower': 18635, 'upper': 18526, 'count': 6005}],
  'RANGO_TENURE': [],
  'CANTIDAD_PRESTAME': [{'lower': 1, 'upper': 2, 'count': 2170144},
   {'lower': 2, 'upper': 3, 'count': 999094},
   {'lower': 3, 'upper': 0, 'count': 530571},
   {'lower': 0, 'upper': 4, 'count': 487235},
   {'lower': 4, 'upper': 5, 'count': 300270},
   {'lower': 5, 'upper': 6, 'count': 172371},
   {'lower': 6, 'upper': 7, 'count': 99924},
   {'lower': 7, 'upper': 8, 'count': 58803},
   {'lower': 8, 'upper': 9, 'count': 34815},
   {'lower': 9, 'upper': 10, 'count': 21751},
   {'lower': 10, 'upper': 11, 'count': 13804},
   {'lower': 11, 'upper': 12, 'count': 9164},
   {'lower': 12, 'upper': 13, 'count': 6088},
   {'lower': 13, 'upper': 14, 'count': 4274},
   {'lower': 14, 'upper': 15, 'count': 3062},
   {'lower': 15, 'upper': 16, 'count': 2271},
   {'lower': 16, 'upper': 17, 'count': 1587},
   {'lower': 17, 'upper': 18, 'count': 1182},
   {'lower': 18, 'upper': 19, 'count': 906}],
  'MONTO_PRESTADO': [{'lower': 23, 'upper': 46, 'count': 755157},
   {'lower': 46, 'upper': 0, 'count': 747527},
   {'lower': 0, 'upper': 33, 'count': 487235},
   {'lower': 33, 'upper': 24, 'count': 407440},
   {'lower': 24, 'upper': 92, 'count': 307423},
   {'lower': 92, 'upper': 69, 'count': 276081},
   {'lower': 69, 'upper': 50, 'count': 226379},
   {'lower': 50, 'upper': 138, 'count': 132612},
   {'lower': 138, 'upper': 67, 'count': 126708},
   {'lower': 67, 'upper': 115, 'count': 93976},
   {'lower': 115, 'upper': 9, 'count': 85900},
   {'lower': 9, 'upper': 184, 'count': 82928},
   {'lower': 184, 'upper': 56, 'count': 71175},
   {'lower': 56, 'upper': 80, 'count': 62564},
   {'lower': 80, 'upper': 49, 'count': 58910},
   {'lower': 49, 'upper': 58, 'count': 50599},
   {'lower': 58, 'upper': 230, 'count': 44284},
   {'lower': 230, 'upper': 74, 'count': 43322},
   {'lower': 74, 'upper': 161, 'count': 36564}],
  'CANTIDAD_PAGOS': [{'lower': 2, 'upper': 1, 'count': 1395935},
   {'lower': 1, 'upper': 4, 'count': 1031885},
   {'lower': 4, 'upper': 3, 'count': 579555},
   {'lower': 3, 'upper': 5, 'count': 530856},
   {'lower': 5, 'upper': 6, 'count': 291470},
   {'lower': 6, 'upper': 7, 'count': 287719},
   {'lower': 7, 'upper': 8, 'count': 168980},
   {'lower': 8, 'upper': 9, 'count': 154654},
   {'lower': 9, 'upper': 10, 'count': 98311},
   {'lower': 10, 'upper': 11, 'count': 85300},
   {'lower': 11, 'upper': 12, 'count': 56971},
   {'lower': 12, 'upper': 13, 'count': 47912},
   {'lower': 13, 'upper': 0, 'count': 33045},
   {'lower': 0, 'upper': 14, 'count': 29059},
   {'lower': 14, 'upper': 15, 'count': 27457},
   {'lower': 15, 'upper': 16, 'count': 19414},
   {'lower': 16, 'upper': 17, 'count': 15988},
   {'lower': 17, 'upper': 18, 'count': 11887},
   {'lower': 18, 'upper': 19, 'count': 9835}],
  'MONTO_PAGADO': [{'lower': -23, 'upper': -46, 'count': 727007},
   {'lower': -46, 'upper': 0, 'count': 722997},
   {'lower': 0, 'upper': -33, 'count': 373745},
   {'lower': -33, 'upper': -92, 'count': 303582},
   {'lower': -92, 'upper': -24, 'count': 259700},
   {'lower': -24, 'upper': -69, 'count': 233176},
   {'lower': -69, 'upper': -138, 'count': 220945},
   {'lower': -138, 'upper': -50, 'count': 120647},
   {'lower': -50, 'upper': -115, 'count': 89890},
   {'lower': -115, 'upper': -9, 'count': 83574},
   {'lower': -9, 'upper': -184, 'count': 80598},
   {'lower': -184, 'upper': -67, 'count': 68263},
   {'lower': -67, 'upper': -56, 'count': 62792},
   {'lower': -56, 'upper': -22, 'count': 56257},
   {'lower': -22, 'upper': -49, 'count': 54152},
   {'lower': -49, 'upper': -230, 'count': 46305},
   {'lower': -230, 'upper': -80, 'count': 41312},
   {'lower': -80, 'upper': -47, 'count': 40704},
   {'lower': -47, 'upper': -161, 'count': 38010}],
  'BALANCE_FINAL_MES': [{'lower': 0, 'upper': 23, 'count': 2537089},
   {'lower': 23, 'upper': -23, 'count': 399557},
   {'lower': -23, 'upper': 46, 'count': 356951},
   {'lower': 46, 'upper': -46, 'count': 291221},
   {'lower': -46, 'upper': -22, 'count': 278585},
   {'lower': -22, 'upper': 24, 'count': 61690},
   {'lower': 24, 'upper': 33, 'count': 50709},
   {'lower': 33, 'upper': -33, 'count': 45842},
   {'lower': -33, 'upper': -24, 'count': 40184},
   {'lower': -24, 'upper': 9, 'count': 35627},
   {'lower': 9, 'upper': -9, 'count': 29057},
   {'lower': -9, 'upper': -10, 'count': 25210},
   {'lower': -10, 'upper': 50, 'count': 24152},
   {'lower': 50, 'upper': 1, 'count': 22118},
   {'lower': 1, 'upper': 10, 'count': 21782},
   {'lower': 10, 'upper': 34, 'count': 21184},
   {'lower': 34, 'upper': 22, 'count': 20841},
   {'lower': 22, 'upper': -34, 'count': 17836},
   {'lower': -34, 'upper': -1, 'count': 17575}],
  'ESCALA_SCORE_MOVIL': [],
  'MONTO_RECARGADO': [{'lower': 76, 'upper': 153, 'count': 263553},
   {'lower': 153, 'upper': 230, 'count': 230234},
   {'lower': 230, 'upper': 307, 'count': 172346},
   {'lower': 307, 'upper': 115, 'count': 147474},
   {'lower': 115, 'upper': 384, 'count': 134963},
   {'lower': 384, 'upper': 192, 'count': 118035},
   {'lower': 192, 'upper': 269, 'count': 117308},
   {'lower': 269, 'upper': 461, 'count': 112166},
   {'lower': 461, 'upper': 346, 'count': 106839},
   {'lower': 346, 'upper': 615, 'count': 98315},
   {'lower': 615, 'upper': 538, 'count': 91219},
   {'lower': 538, 'upper': 423, 'count': 86894},
   {'lower': 423, 'upper': 38, 'count': 84976},
   {'lower': 38, 'upper': 576, 'count': 76184},
   {'lower': 576, 'upper': 692, 'count': 75760},
   {'lower': 692, 'upper': None, 'count': 75605},
   {'lower': None, 'upper': 769, 'count': 72280},
   {'lower': 769, 'upper': 653, 'count': 71489},
   {'lower': 653, 'upper': 499, 'count': 69700}],
  'CANT_RECARGAS': [{'lower': 2, 'upper': 3, 'count': 541134},
   {'lower': 3, 'upper': 4, 'count': 534446},
   {'lower': 4, 'upper': 5, 'count': 523943},
   {'lower': 5, 'upper': 1, 'count': 507381},
   {'lower': 1, 'upper': 6, 'count': 502306},
   {'lower': 6, 'upper': 7, 'count': 474313},
   {'lower': 7, 'upper': 8, 'count': 402671},
   {'lower': 8, 'upper': 9, 'count': 327312},
   {'lower': 9, 'upper': 10, 'count': 262031},
   {'lower': 10, 'upper': 11, 'count': 202377},
   {'lower': 11, 'upper': 12, 'count': 148810},
   {'lower': 12, 'upper': 13, 'count': 107619},
   {'lower': 13, 'upper': None, 'count': 76826},
   {'lower': None, 'upper': 14, 'count': 72280},
   {'lower': 14, 'upper': 15, 'count': 56099},
   {'lower': 15, 'upper': 16, 'count': 41156},
   {'lower': 16, 'upper': 17, 'count': 30892},
   {'lower': 17, 'upper': 18, 'count': 23453},
   {'lower': 18, 'upper': 19, 'count': 18136}],
  'RECARGA_PROMEDIO': [{'lower': 76, 'upper': 115, 'count': 684131},
   {'lower': 115, 'upper': 38, 'count': 194866},
   {'lower': 38, 'upper': 57, 'count': 152694},
   {'lower': 57, 'upper': 153, 'count': 136496},
   {'lower': 153, 'upper': 96, 'count': 132120},
   {'lower': 96, 'upper': 64, 'count': 120561},
   {'lower': 64, 'upper': 89, 'count': 90226},
   {'lower': 89, 'upper': 67, 'count': 86127},
   {'lower': 67, 'upper': 69, 'count': 79474},
   {'lower': 69, 'upper': None, 'count': 77656},
   {'lower': None, 'upper': 86, 'count': 72280},
   {'lower': 86, 'upper': 102, 'count': 68928},
   {'lower': 102, 'upper': 84, 'count': 67408},
   {'lower': 84, 'upper': 61, 'count': 64809},
   {'lower': 61, 'upper': 51, 'count': 61520},
   {'lower': 51, 'upper': 73, 'count': 59543},
   {'lower': 73, 'upper': 70, 'count': 57145},
   {'lower': 70, 'upper': 92, 'count': 54743},
   {'lower': 92, 'upper': 46, 'count': 54346}],
  'DENOMINACION_FAVORITA': [{'lower': 76, 'upper': 38, 'count': 2304311},
   {'lower': 38, 'upper': 115, 'count': 797118},
   {'lower': 115, 'upper': 153, 'count': 616892},
   {'lower': 153, 'upper': 23, 'count': 499155},
   {'lower': 23, 'upper': None, 'count': 97275},
   {'lower': None, 'upper': 46, 'count': 72280},
   {'lower': 46, 'upper': 106, 'count': 70579},
   {'lower': 106, 'upper': 100, 'count': 38912},
   {'lower': 100, 'upper': 230, 'count': 36516},
   {'lower': 230, 'upper': 107, 'count': 34994},
   {'lower': 107, 'upper': 57, 'count': 29607},
   {'lower': 57, 'upper': 123, 'count': 25635},
   {'lower': 123, 'upper': 37, 'count': 22457},
   {'lower': 37, 'upper': 183, 'count': 22060},
   {'lower': 183, 'upper': 192, 'count': 21007},
   {'lower': 192, 'upper': 53, 'count': 16911},
   {'lower': 53, 'upper': 61, 'count': 15806},
   {'lower': 61, 'upper': 384, 'count': 14967},
   {'lower': 384, 'upper': 84, 'count': 13468}],
  'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA': [{'lower': 1,
    'upper': 2,
    'count': 1068843},
   {'lower': 2, 'upper': 3, 'count': 1042954},
   {'lower': 3, 'upper': 4, 'count': 861577},
   {'lower': 4, 'upper': 5, 'count': 636290},
   {'lower': 5, 'upper': 6, 'count': 432799},
   {'lower': 6, 'upper': 7, 'count': 279368},
   {'lower': 7, 'upper': 8, 'count': 179837},
   {'lower': 8, 'upper': 9, 'count': 119070},
   {'lower': 9, 'upper': None, 'count': 77124},
   {'lower': None, 'upper': 10, 'count': 72280},
   {'lower': 10, 'upper': 11, 'count': 47502},
   {'lower': 11, 'upper': 12, 'count': 29196},
   {'lower': 12, 'upper': 13, 'count': 19332},
   {'lower': 13, 'upper': 14, 'count': 13275},
   {'lower': 14, 'upper': 15, 'count': 9658},
   {'lower': 15, 'upper': 16, 'count': 7129},
   {'lower': 16, 'upper': 17, 'count': 5337},
   {'lower': 17, 'upper': 18, 'count': 4254},
   {'lower': 18, 'upper': 19, 'count': 3179}]}}

In [71]:
a

{202103: 538295,
 202105: 525874,
 202104: 524859,
 202108: 514172,
 202101: 513807,
 202107: 499971,
 202102: 493261,
 202106: 481701,
 202109: 481224,
 202110: 347877}

In [59]:
import pandas as pd
# List of Tuples
empoyees = [('Jack',    34, 'Sydney',   5) ,
            ('Riti',    31, 'Delhi' ,   7) ,
            ('Aadi',    16, 'London',   11) ,
            ('Mark',    41, 'Delhi' ,   12)]
# Create a DataFrame object
df = pd.DataFrame(  empoyees, 
                    columns=['Name', 'Age', 'City', 'Experience'])

# Select first column of the dataframe as a dataframe object
first_column = df.iloc[: , :1]
print(df)

   Name  Age    City  Experience
0  Jack   34  Sydney           5
1  Riti   31   Delhi           7
2  Aadi   16  London          11
3  Mark   41   Delhi          12

In [54]:
a

202103    538295
202105    525874
202104    524859
202108    514172
202101    513807
202107    499971
202102    493261
202106    481701
202109    481224
202110    347877
dtype: int32

In [14]:
%%time
df.cols.hist("CANTIDAD_PRESTAME")

Wall time: 115 ms

{'hist': {'CANTIDAD_PRESTAME': [{'lower': 1, 'upper': 2, 'count': 2170144},
   {'lower': 2, 'upper': 3, 'count': 999094},
   {'lower': 3, 'upper': 0, 'count': 530571},
   {'lower': 0, 'upper': 4, 'count': 487235},
   {'lower': 4, 'upper': 5, 'count': 300270},
   {'lower': 5, 'upper': 6, 'count': 172371},
   {'lower': 6, 'upper': 7, 'count': 99924},
   {'lower': 7, 'upper': 8, 'count': 58803},
   {'lower': 8, 'upper': 9, 'count': 34815},
   {'lower': 9, 'upper': 10, 'count': 21751},
   {'lower': 10, 'upper': 11, 'count': 13804},
   {'lower': 11, 'upper': 12, 'count': 9164},
   {'lower': 12, 'upper': 13, 'count': 6088},
   {'lower': 13, 'upper': 14, 'count': 4274},
   {'lower': 14, 'upper': 15, 'count': 3062},
   {'lower': 15, 'upper': 16, 'count': 2271},
   {'lower': 16, 'upper': 17, 'count': 1587},
   {'lower': 17, 'upper': 18, 'count': 1182},
   {'lower': 18, 'upper': 19, 'count': 906}]}}

In [15]:
_min,_max=df.data.MES.minmax()

AttributeError: 'datatable.Frame' object has no attribute 'MES'

In [18]:
import numpy as np
bins=10
df.data.count(binby=df.data.MES, limits=[_min, _max], shape=bins)
# print(np.linspace(_min, _max, bins))

AttributeError: 'datatable.Frame' object has no attribute 'count'

In [13]:
df.data.MES.values_count()

AttributeError: 'Expression' object has no attribute 'values_count'

In [8]:
%%time
df.cols.frequency("ID_CUENTA")

Wall time: 475 ms

{'frequency': {'ID_CUENTA': [{'values': 85142284, 'count': 37},
   {'values': 10957735, 'count': 36},
   {'values': 85099541, 'count': 33},
   {'values': 81340366, 'count': 31},
   {'values': 14815006, 'count': 30},
   {'values': 26270207, 'count': 30},
   {'values': 83264743, 'count': 30},
   {'values': 10487941, 'count': 29},
   {'values': 12678052, 'count': 29},
   {'values': 12758367, 'count': 29}]}}

In [42]:
%%time
df.cols.hist("MES")

Wall time: 104 ms

{'hist': {'MES': [{'lower': 202103, 'upper': 202105, 'count': 538295},
   {'lower': 202105, 'upper': 202104, 'count': 525874},
   {'lower': 202104, 'upper': 202108, 'count': 524859},
   {'lower': 202108, 'upper': 202101, 'count': 514172},
   {'lower': 202101, 'upper': 202107, 'count': 513807},
   {'lower': 202107, 'upper': 202102, 'count': 499971},
   {'lower': 202102, 'upper': 202106, 'count': 493261},
   {'lower': 202106, 'upper': 202109, 'count': 481701},
   {'lower': 202109, 'upper': 202110, 'count': 481224}]}}

In [25]:
from datatable import dt,re,f

In [23]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [212]:
!python --version

Python 3.8.8

In [198]:
import pandas as pd

In [213]:
pdf = pd.DataFrame({'A': ["True", "30345", "2", None, "1", "2"],
               'B': [None, 2, 3, 4, None, 5],
               'C': [1, 2, 1, 1, 2, 4]})
df = dt.Frame(pdf)
print(df[:,dt.math.pow(f.B,2)])

   |      C0
   | float64
-- + -------
 0 |      NA
 1 |       4
 2 |       9
 3 |      16
 4 |      NA
 5 |      25
[6 rows x 1 column]

In [214]:
df.cols.count_na()

AttributeError: 'datatable.Frame' object has no attribute 'cols'

In [68]:
df

In [71]:
from optimus.infer import regex_zip_code
from datatable.re import match
from datatable import as_type
import datatable as dt




df[:,dt.re.match(f["A"],pattern =regex_zip_code)]

In [61]:

# df.data[:, as_type(match(f["ESCALA_SCORE_MOVIL"], pattern=r"MEDIA"),str)].sum()
# col_name="RANGO_TENURE"
# a=df.data[:1000000, match(as_type(f[col_name],str), pattern="META")]

# df.data[:, dt.str.slice(f["ESCALA_SCORE_MOVIL"], None, 5)]

In [24]:
a

In [ ]:
!pip uninstall datatable

In [209]:
from datatable import dt
dt.__version__

'1.0.0'

In [208]:
DT = dt.Frame(G=[1,1,1,2,2,2], V=[None, None, None, None, 3, 5])
EXP = dt.Frame(G=[1,2], V1=[3,1], V2=[3,0])
RES = DT[:, [dt.countna(f.V), dt.countna(dt.mean(f.V))], dt.by(f.G)]

AttributeError: module 'datatable' has no attribute 'countna'

In [201]:
df[:, dt.countna(f[col_name])]

AttributeError: module 'datatable' has no attribute 'countna'

In [194]:
df.data

In [185]:
df.data["RANGO_TENURE"][a,:]

In [179]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [156]:
a

In [7]:
%%time
# from datatable import dt
# import numpy as np
dt.Frame([value.title() for value in df.data['RANGO_TENURE'].to_list()[0]])

NameError: name 'dt' is not defined

In [8]:
pdf = df.data.to_pandas()

In [9]:
%%time
pdf["RANGO_TENURE"].str.upper()

Wall time: 2.33 s

0          13 - 18 MESES
1          25 - 36 MESES
2           7 - 12 MESES
3          13 - 18 MESES
4            0 - 6 MESES
               ...
4921036      0 - 6 MESES
4921037    13 - 18 MESES
4921038    61 - 72 MESES
4921039    25 - 36 MESES
4921040      0 - 6 MESES
Name: RANGO_TENURE, Length: 4921041, dtype: object

In [40]:
%%time
pdf.upper()

AttributeError: 'DataFrame' object has no attribute 'upper'

In [91]:
df.profile()

AttributeError: 'datatable.Frame' object has no attribute 'apply'

In [404]:
df.cols.to_float("MES")

kw_columns {'MES': <Frame#2346d407600 4921041x1>}

        MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (float64)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
-----------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
     202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
     202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
     202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
     202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
     202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
     202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
     202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
     202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
     202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
     202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
     202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [194]:
#### import numpy as np
np.dtype("datetime64")

dtype('<M8')

In [210]:
df.display(20)

In [188]:
df.rows.limit(2)

INCIDENT_NUMBER      OFFENSE_CODE  OFFENSE_CODE_GROUP    OFFENSE_DESCRIPTION    DISTRICT      REPORTING_AREA    SHOOTING  OCCURRED_ON_DATE          YEAR      MONTH  DAY_OF_WEEK         HOUR  UCR_PART    STREET              Lat         Long  Location
(object)                  (int32)  (object)              (object)               (object)             (int32)    (object)  (datetime64)           (int32)    (int32)  (object)         (int32)  (object)    (object)      (float64)    (float64)  (object)
-----------------  --------------  --------------------  ---------------------  ----------  ----------------  ----------  -------------------  ---------  ---------  -------------  ---------  ----------  ----------  -----------  -----------  ---------------------------
I182070945                    619  Larceny               LARCENY ALL OTHERS     D14                      808         nan  2018-09-02 13:00:00       2018          9  Sunday                13  Part One    LINCOLN ST      42.3578     -71.1394  (42.35779134, -71.13937053)
I182070943                   1402  Vandalism             VANDALISM              C11                      347         nan  2018-08-21 00:00:00       2018          8  Tuesday                0  Part Two    HECLA ST        42.3068     -71.0603  (42.30682138, -71.06030035)

In [229]:
df.cols.select("*")

        MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (float64)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
-----------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
     202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
     202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
     202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
     202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
     202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
     202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
     202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
     202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
     202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
     202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
     202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [235]:
from datatable import dt

In [268]:
%%time
df.cols.to_integer("MONTO_RECARGADO")

kw_columns {'MONTO_RECARGADO': <Frame#2346ebfbc90 4921041x1>}
Wall time: 0 ns

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                        (int64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                              1027               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                       483                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                       500                5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                          153                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                          1038                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                      153                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                       153                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                           565                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                                 76                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                       692               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                          423                8             52.8825                    38.46                                          5

In [92]:
df.cols.std("CANTIDAD_PRESTAME")

1.9715169901121077

In [11]:
%%time
df.cols.hist("CANTIDAD_PRESTAME", buckets=20)

Wall time: 19.1 ms

{'hist': {'CANTIDAD_PRESTAME': [{'lower': 1, 'upper': 2, 'count': 2170144},
   {'lower': 2, 'upper': 3, 'count': 999094},
   {'lower': 3, 'upper': 0, 'count': 530571},
   {'lower': 0, 'upper': 4, 'count': 487235},
   {'lower': 4, 'upper': 5, 'count': 300270},
   {'lower': 5, 'upper': 6, 'count': 172371},
   {'lower': 6, 'upper': 7, 'count': 99924},
   {'lower': 7, 'upper': 8, 'count': 58803},
   {'lower': 8, 'upper': 9, 'count': 34815},
   {'lower': 9, 'upper': 10, 'count': 21751},
   {'lower': 10, 'upper': 11, 'count': 13804},
   {'lower': 11, 'upper': 12, 'count': 9164},
   {'lower': 12, 'upper': 13, 'count': 6088},
   {'lower': 13, 'upper': 14, 'count': 4274},
   {'lower': 14, 'upper': 15, 'count': 3062},
   {'lower': 15, 'upper': 16, 'count': 2271},
   {'lower': 16, 'upper': 17, 'count': 1587},
   {'lower': 17, 'upper': 18, 'count': 1182},
   {'lower': 18, 'upper': 19, 'count': 906}]}}

In [334]:
df

      MES    ID_CUENTA    LINE_ID  FECHA_INSTALACION    RANGO_TENURE      CANTIDAD_PRESTAME    MONTO_PRESTADO    CANTIDAD_PAGOS    MONTO_PAGADO    BALANCE_FINAL_MES  ESCALA_SCORE_MOVIL      MONTO_RECARGADO    CANT_RECARGAS    RECARGA_PROMEDIO    DENOMINACION_FAVORITA    CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
  (int32)      (int32)    (int64)  (datetime64)         (object)                    (int32)           (int32)           (int32)         (int32)              (int32)  (object)                      (float64)          (int32)           (float64)                (float64)                                    (int32)
---------  -----------  ---------  -------------------  --------------  -------------------  ----------------  ----------------  --------------  -------------------  --------------------  -----------------  ---------------  ------------------  -----------------------  -----------------------------------------
   202101     84187779  135431098  2019-06-26 00:00:00  13 - 18 MESES                     2                46                 4             -46                    0  MEDIA                           1027.11               16             64.1944                    38.46                                         11
   202101     23231417  121750859  2018-09-29 00:00:00  25 - 36 MESES                     2                58                 4             -58                    0  SIN HISTORIAL                    483.83                7             69.1186                    76.92                                          4
   202101     41022657  141878876  2020-01-28 00:00:00  7 - 12 MESES                      3                92                 7            -115                  -23  SIN HISTORIAL                    500                   5            100                        100                                             3
   202101     84227496  136150853  2019-07-05 00:00:00  13 - 18 MESES                     0                 0                 1              -3                   -3  SUPER ALTA                       153.84                2             76.92                      38.46                                          1
   202101     84430098  146447180  2020-09-11 00:00:00  0 - 6 MESES                       2                46                 4             -46                    0  SIN SCORE                       1038.47                8            129.809                    153.85                                          5
   202101     85110023  142429452  2020-02-22 00:00:00  7 - 12 MESES                      3               103                 4             -56                   47  STATUS ADVERSO                   153.85                3             51.2833                    23.08                                          1
   202101     12229311   15178966  2014-03-24 00:00:00  72+ MESES                         2                33                 3             -10                   23  SIN HISTORIAL                    153.84                3             51.28                      38.46                                          2
   202101     85877104  146016740  2020-08-27 00:00:00  0 - 6 MESES                       2                58                 4             -58                    0  SIN SCORE                        565.36                7             80.7657                    76.92                                          3
   202101     12775145   11413435  2012-05-15 00:00:00  72+ MESES                         0                 0                 1             -22                  -22  ALTA                              76.92                1             76.92                      76.92                                          1
   202101     14725605   19015645  2015-10-03 00:00:00  61 - 72 MESES                     2                56                 4             -56                    0  SIN HISTORIAL                    692.28               14             49.4486                    38.46                                         10
   202101     36297925  147709925  2020-10-28 00:00:00  0 - 6 MESES                       1                 9                 2              -9                    0  SUPER ALTA                       423.06                8             52.8825                    38.46                                          5

In [365]:
%%time
df.cols.frequency("ID_CUENTA")

AttributeError: 'datatable.Frame' object has no attribute 'value_counts'

In [348]:
col_name="MES"
d =df.data[:, [df.data[col_name],cut(df.data[col_name], nbins=10)]][:, dt.count(), by(col_name)].sort(-f.count)[0:10,:].to_dict()
d
print(d["MES"])
print(d["count"])

[202103, 202105, 202104, 202108, 202101, 202107, 202102, 202106, 202109, 202110]
[538295, 525874, 524859, 514172, 513807, 499971, 493261, 481701, 481224, 347877]

In [108]:
df.cols.sin("OFFENSE_CODE")

AttributeError: 'datatable.Frame' object has no attribute 'assign'

In [107]:
df.cols.hist("OFFENSE_CODE")

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [95]:
%%time
df[:, dt.count()].to_list()[0][0]
df.cols.frequency("ID_CUENTA")

Wall time: 5.8 s

{'frequency': {'ID_CUENTA': {'values': [{'value': 85142284, 'count': 37},
    {'value': 10957735, 'count': 35},
    {'value': 85099541, 'count': 33},
    {'value': 81340366, 'count': 31},
    {'value': 14815006, 'count': 30},
    {'value': 26270207, 'count': 30},
    {'value': 10487941, 'count': 29},
    {'value': 12678052, 'count': 29},
    {'value': 12758367, 'count': 29},
    {'value': 13588062, 'count': 29},
    {'value': 13898645, 'count': 29},
    {'value': 23128381, 'count': 29},
    {'value': 86204028, 'count': 29},
    {'value': 11000167, 'count': 28},
    {'value': 11705746, 'count': 28},
    {'value': 12966920, 'count': 28},
    {'value': 13045280, 'count': 28},
    {'value': 14612920, 'count': 28},
    {'value': 21999945, 'count': 28},
    {'value': 67346680, 'count': 28},
    {'value': 81910582, 'count': 28},
    {'value': 82615269, 'count': 28},
    {'value': 83264743, 'count': 28},
    {'value': 83789699, 'count': 28},
    {'value': 84009777, 'count': 28},
    {'value': 84756757, 'count': 28},
    {'value': 85533664, 'count': 28},
    {'value': 85617202, 'count': 28},
    {'value': 12717421, 'count': 27},
    {'value': 16582707, 'count': 27},
    {'value': 62424154, 'count': 27},
    {'value': 83564386, 'count': 27}]}}}

In [5]:
# !pip install datatable

^C

# DATATABLE

In [237]:
from datatable import dt, f, by, cut, as_type
print(dt.__version__)

1.0.0

In [238]:
%%time
df = dt.fread("data/dpp.csv")

Wall time: 1.25 s

In [240]:
df[:,1]

In [113]:
df

In [129]:
df[:, dt.count()].to_list()[0][0]

4921041

In [97]:
%%time
# df["RANGO_TENURE"]= dt.float32
df[:, as_type(f["RANGO_TENURE"], int)]

NameError: name 'as_type' is not defined

In [140]:
df[]

AttributeError: 'datatable.Frame' object has no attribute 'index'

AttributeError: 'datatable.Frame' object has no attribute 'index'

In [176]:
edges, count =np.unique(df["MES"], return_counts=True)

In [182]:
print(edges)
print(count)

[202101 202102 202103 202104 202105 202106 202107 202108 202109 202110]
[513807 493261 538295 524859 525874 481701 499971 514172 481224 347877]

In [196]:
list(df.names)

['MES',
 'ID_CUENTA',
 'LINE_ID',
 'FECHA_INSTALACION',
 'RANGO_TENURE',
 'CANTIDAD_PRESTAME',
 'MONTO_PRESTADO',
 'CANTIDAD_PAGOS',
 'MONTO_PAGADO',
 'BALANCE_FINAL_MES',
 'ESCALA_SCORE_MOVIL',
 'MONTO_RECARGADO',
 'CANT_RECARGAS',
 'RECARGA_PROMEDIO',
 'DENOMINACION_FAVORITA',
 'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA']

In [217]:
%%time
hist, edges = np.histogram(df["MES"], bins=10)

Wall time: 167 ms

In [204]:
%%time

result=[]
for col_name in ['MES',
 'ID_CUENTA',
 'LINE_ID',
 'FECHA_INSTALACION']:
    hist, edges = np.histogram(df[col_name], bins=10)

    result_col=[]
    for i in range(0,len(edges)-1):
        result_col.append({"lower":edges[i],"upper": edges[i+1], "count":hist[i]})
    result={col_name:result_col}
    
print({"hist":result})

{'hist': {'FECHA_INSTALACION': [{'lower': -2147483648.0, 'upper': -1932733391.9, 'count': 1}, {'lower': -1932733391.9, 'upper': -1717983135.8, 'count': 0}, {'lower': -1717983135.8, 'upper': -1503232879.7, 'count': 0}, {'lower': -1503232879.7, 'upper': -1288482623.6, 'count': 0}, {'lower': -1288482623.6, 'upper': -1073732367.5, 'count': 0}, {'lower': -1073732367.5, 'upper': -858982111.4000001, 'count': 0}, {'lower': -858982111.4000001, 'upper': -644231855.3, 'count': 0}, {'lower': -644231855.3, 'upper': -429481599.20000005, 'count': 0}, {'lower': -429481599.20000005, 'upper': -214731343.10000014, 'count': 0}, {'lower': -214731343.10000014, 'upper': 18913.0, 'count': 4921040}]}}
Wall time: 865 ms

In [46]:
df.names

('MES',
 'ID_CUENTA',
 'LINE_ID',
 'FECHA_INSTALACION',
 'RANGO_TENURE',
 'CANTIDAD_PRESTAME',
 'MONTO_PRESTADO',
 'CANTIDAD_PAGOS',
 'MONTO_PAGADO',
 'BALANCE_FINAL_MES',
 'ESCALA_SCORE_MOVIL',
 'MONTO_RECARGADO',
 'CANT_RECARGAS',
 'RECARGA_PROMEDIO',
 'DENOMINACION_FAVORITA',
 'CANTIDAD_RECARGAS_DENOMINACION_FAVORITA')

In [25]:
import numpy as np

In [26]:
%%time
values,count=np.unique(df["ID_CUENTA"], return_counts=True)

Wall time: 529 ms

In [50]:
%%time
for col_name in df.names:
    values,count=np.unique(df[col_name], return_counts=True)
    print(col_name)
    print(values)
    print(count)

MES
[202101 202102 202103 202104 202105 202106 202107 202108 202109 202110]
[513807 493261 538295 524859 525874 481701 499971 514172 481224 347877]
ID_CUENTA
[-2147483648      190422      208465 ...    87411173    87411630
    87413672]
[ 1  2 10 ...  1  1  1]
LINE_ID
[-9223372036854775808                 6376                27705 ...
            161185330            161208523          10001598267]
[1 3 1 ... 1 1 4]
FECHA_INSTALACION
[-2147483648       11280       11302 ...       18911       18912
       18913]
[ 1  2  6 ... 24 19  4]
RANGO_TENURE
['' '0 - 6 MESES' '13 - 18 MESES' '19 - 24 MESES' '25 - 36 MESES'
 '36 - 48 MESES' '49 - 60 MESES' '61 - 72 MESES' '7 - 12 MESES'
 '72+ MESES']
[     1 959318 489658 415711 599021 371827 275541 211044 650973 947947]
CANTIDAD_PRESTAME
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 54 55 56 57 58 59 60 66 69 70 71 73 75 77 86 93]
[ 487235 2170144  999094  530571  300270  172371   99924   58803   34815
   21751   13804    9164    6088    4274    3062    2271    1587    1182
     906     708     572     423     333     313     230     197     165
     129      97      77      78      46      70      45      25      35
      26      12      15      15      11      14      10      13       8
       6       3       4       2       4       3       2       2       5
       2       1       4       1       1       4       2       2       1
       2       1       2       2       1       1]
MONTO_PRESTADO
[   0    9   19 ... 3553 3968 4291]
[487235  82928  19633 ...      2      1      1]
CANTIDAD_PAGOS
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  92  93  94  95  98  99 100 103 107 108 109 110 111 114 120 121 128
 130 131 132 134 140 142 143 147 148 151 170 184]
[  29059 1031885 1395935  530856  579555  291470  287719  168980  154654
   98311   85300   56971   47912   33045   27457   19414   15988   11887
    9835    7602    6348    4692    4125    3219    2772    2248    1954
    1563    1387    1061     970     795     717     560     535     452
     419     349     309     265     259     200     186     166     159
     129     147     113     108      92      78      71      76      46
      53      41      46      44      37      24      41      24      31
      21      29      21      13      12      17      11      11       8
      10       8      15       5       6       3       4       5       8
       6       5       6       3       4       8       4       5       1
       1       4       1       2       3       2       2       1       2
       2       1       1       2       4       2       1       1       1
       1       1       2       1       1       1       1       1       1
       1       1       1]
MONTO_PAGADO
[-4291 -3922 -3599 ...    -2    -1     0]
[     1      1      2 ...  12810  20518 373745]
BALANCE_FINAL_MES
[-626 -620 -518 -433 -392 -369 -368 -309 -307 -300 -276 -231 -230 -223
 -202 -196 -194 -191 -185 -184 -183 -177 -172 -170 -169 -168 -162 -161
 -156 -152 -151 -150 -149 -148 -147 -146 -145 -144 -143 -142 -141 -140
 -139 -138 -137 -136 -135 -134 -132 -131 -130 -129 -128 -127 -126 -125
 -124 -123 -122 -121 -120 -119 -118 -117 -116 -115 -114 -113 -112 -111
 -110 -109 -108 -107 -106 -105 -104 -103 -102 -101 -100  -99  -98  -97
  -96  -95  -94  -93  -92  -91  -90  -89  -88  -87  -86  -85  -84  -83
  -82  -81  -80  -79  -78  -77  -76  -75  -74  -73  -72  -71  -70  -69
  -68  -67  -66  -65  -64  -63  -62  -61  -60  -59  -58  -57  -56  -55
  -54  -53  -52  -51  -50  -49  -48  -47  -46  -45  -44  -43  -42  -41
  -40  -39  -38  -37  -36  -35  -34  -33  -32  -31  -30  -29  -28  -27
  -26  -25  -24  -23  -22  -21  -20  -19  -18  -17  -16  -15  -14  -13
  -12  -11  -10   -9   -8   -7   -6   -5   -4   -3   -2   -1    0    1
    2    3    4    5    6    7    8    9   10   11   12   13   14   15
   16   17   18   19   20   21   22   23   24   25   26   27   28   29
   30   31   32   33   34   35   36   37   38   39   40   41   42   43
   44   45   46   47   48   49   50   51   52   53   54   55   56   57
   58   59   60   61   62   63   64   65   66   67   68   69   70   71
   72   73   74   75   76   77   78   79   80   81   82   83   84   85
   86   87   88   89   90   91   92   93   94   95   96   97   98   99
  100  101  102  103  104  105  106  107  108  109  110  111  112  113
  114  115  116  117  118  119  120  121  122  123  124  125  126  127
  128  129  130  131  132  133  134  135  136  137  138  139  140  141
  142  143  144  145  146  148  150  151  152  153  154  157  158  161
  162  163  164  167  168  170  171  174  176  183  184  185  188  193
  218  227  230  231]
[      1       1       1       1       1       1       1       1       1
       1       2       2       6       1       1       2       1       1
      10      36       1       1       2       1       1       1       1
      13       1       3       1       1       3       3       3       2
       3       4       2       4       2       3      59     417      16
       4       2       1       1       3       2       1       4       4
      17      10       4       4      22       8       3       7       4
       7      24     147      14      11       5      10       9       9
      14       7       3      11       9      12      21       9      26
      48      29      33      94      52      37     310    4267     268
      59      42      36      24      28      23      77      50      28
      21     200     220      71      73     856     287     243     247
     247     182     311    2895     451     324     223     191     165
     179     192     218     192     192     248     358     585     224
     224     309     227     200    5656   13994    4086    9185  278585
   13324    3036    3514    1704    2060    1478    1585   10343    2147
    2051    1439   17575   40184   10500    7515    6897    6805    6263
    6040    6297   12181   35627  356951   61690   10668    8066    7910
    7251    6486    7413    7900    9105   10509    7419    8411   24152
   25210    7527   14887    9273    9796    7010    9675    8739   16459
 2537089   21782    9137    8557    8753    6797    6579    7568   12743
   29057   21184    9197    8433   10642    7686    6885    8756    7310
    7881    8053    9105    9648   17836  399557   50709   13164    5814
    7721    7313    7354    7476    8789   11595   45842   20841    1517
    2360    1886    1893    3280    1514    1740    2457    2358    2069
    7612  291221   14823    3952    6492   22118     225     221     307
     295     195     577     406     257     230     180     236     233
     182     180     213     215     337     324    2780     349     192
     226     327     278     270    1245     142      58     137     337
      35      51      47      44      73      26      33      32      47
      39     170    4008     296      29      44     112      30      46
      27      67       7      13      12      15       8       5       5
      11       8      12       3       7      11      10     120      20
       8       9       5       7       4      17       5       4       3
       9       3       2       1       5       5       2       3       3
       1       3      19     254      54       1       4       5       1
       1       4       5       1       1       1       3       1       1
       1       1       5       3       1       1       1       1       3
       1       1       1       2      16      12       1       1       1
       1       1       2]
ESCALA_SCORE_MOVIL
['ALTA' 'BAJA' 'MEDIA' 'MEDIA ALTA' 'MEDIA BAJA' 'SCORES DE EXCEPCION'
 'SIN HISTORIAL' 'SIN SCORE' 'STATUS ADVERSO' 'SUPER ALTA']
[ 162796  401050  180670   85783  127970   57100 1429294  752648  822665
  901065]
MONTO_RECARGADO
[ 0.    7.69 11.54 ...   nan   nan   nan]
[403   1  17 ...   1   1   1]
CANT_RECARGAS
[-2147483648           1           2           3           4           5
           6           7           8           9          10          11
          12          13          14          15          16          17
          18          19          20          21          22          23
          24          25          26          27          28          29
          30          31          32          33          34          35
          36          37          38          39          40          41
          42          43          44          45          46          47
          48          49          50          51          52          53
          54          55          56          57          58          59
          60          61          62          63          64          65
          66          67          68          69          70          71
          72          73          74          75          77          78
          79          80          83          87          88          91
          92          95          99         100         107         111
         113         124         125]
[ 72280 502306 541134 534446 523943 507381 474313 402671 327312 262031
 202377 148810 107619  76826  56099  41156  30892  23453  18136  13890
  10907   8557   6685   5329   4252   3434   2811   2290   1842   1452
   1188    935    789    589    479    337    291    244    200    200
    152    128    114     97     81     82     57     50     50     29
     37     38     26     23     17     13     14     20     10     18
     13      4      6      3      6      7      1      7      6      3
      3      6      1      3      3      3      2      1      1      3
      3      1      1      2      1      1      2      1      1      1
      1      1      1]

RECARGA_PROMEDIO
[0.       2.098182 3.205    ...      nan      nan      nan]
[403   1   1 ...   1   1   1]
DENOMINACION_FAVORITA
[0.77 3.85 4.62 ...  nan  nan  nan]
[2 5 1 ... 1 1 1]
CANTIDAD_RECARGAS_DENOMINACION_FAVORITA
[-2147483648           1           2           3           4           5
           6           7           8           9          10          11
          12          13          14          15          16          17
          18          19          20          21          22          23
          24          25          26          27          28          29
          30          31          32          33          34          35
          36          37          38          39          40          41
          42          43          44          45          46          47
          48          49          50          51          52          53
          54          56          57          58          59          60
          61          62          63          67          74          77
          86          88          91          92          94          96
         107]
[  72280 1068843 1042954  861577  636290  432799  279368  179837  119070
   77124   47502   29196   19332   13275    9658    7129    5337    4254
    3179    2584    1961    1599    1308     980     745     652     431
     366     293     237     169     129      99      88      66      56
      34      31      29      27      19      16      15      11      15
       9       8       6       7       3       3       7       4       3
       3       1       1       1       3       1       1       3       2
       1       1       1       1       1       1       2       1       1
       1]
Wall time: 19.2 s

In [225]:
df

In [232]:
%%time
dt.math.sin(df["CANTIDAD_PRESTAME"])

Wall time: 999 µs

In [16]:
%timeit df[:, dt.count(), by("ID_CUENTA")].sort(-f.count)[0:10,:].to_dict()

640 ms ± 42.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [244]:
%%time
df[:, cut(df["MES"], nbins=10)][:, dt.count(), by("MES")]
# df[:, cut(df["MES"], bins=[(0,1),(1,2)])

Wall time: 0 ns

In [46]:
%%time
# df["REPORTING_AREA"].sort()

df[:, dt.count(), by("ID_CUENTA")][0:3,:]

Wall time: 797 ms

In [115]:
import random
import pandas as pd
df = pd.DataFrame([random.randint(1,1000) for i in range(0,100)], columns=['sec'])

df['bin']=pd.cut(df['sec'], bins = 30).astype(str)

df2 = df.groupby('bin').bin.count()
print(df2)

bin
(118.0, 150.667]      5
(150.667, 183.333]    3
(183.333, 216.0]      3
(19.02, 52.667]       1
(216.0, 248.667]      2
(248.667, 281.333]    2
(281.333, 314.0]      2
(314.0, 346.667]      2
(346.667, 379.333]    5
(379.333, 412.0]      1
(412.0, 444.667]      2
(444.667, 477.333]    5
(477.333, 510.0]      2
(510.0, 542.667]      7
(52.667, 85.333]      6
(542.667, 575.333]    2
(575.333, 608.0]      3
(640.667, 673.333]    5
(673.333, 706.0]      5
(706.0, 738.667]      7
(738.667, 771.333]    2
(771.333, 804.0]      4
(804.0, 836.667]      4
(836.667, 869.333]    1
(85.333, 118.0]       2
(869.333, 902.0]      2
(902.0, 934.667]      6
(934.667, 967.333]    4
(967.333, 1000.0]     5
Name: bin, dtype: int64

In [112]:
df2

bin
(0.003, 34.233]        2
(100.7, 133.933]       1
(133.933, 167.167]    10
(167.167, 200.4]       2
(200.4, 233.633]       4
(233.633, 266.867]     1
(266.867, 300.1]       2
(300.1, 333.333]       5
(333.333, 366.567]     5
(34.233, 67.467]       5
(366.567, 399.8]       3
(399.8, 433.033]       9
(433.033, 466.267]     2
(466.267, 499.5]       1
(499.5, 532.733]       6
(532.733, 565.967]     3
(565.967, 599.2]       1
(599.2, 632.433]       2
(632.433, 665.667]     1
(665.667, 698.9]       3
(67.467, 100.7]        2
(698.9, 732.133]       3
(732.133, 765.367]     3
(765.367, 798.6]       2
(798.6, 831.833]       2
(831.833, 865.067]     6
(865.067, 898.3]       3
(898.3, 931.533]       2
(931.533, 964.767]     4
(964.767, 998.0]       5
Name: bin, dtype: int64

In [119]:
# dir(cut(df["OFFENSE_CODE"]))
df[:, cut(df["OFFENSE_CODE"], nbins=10)]

In [86]:
df[0].hist(breaks=5,plot=False)

AttributeError: 'datatable.Frame' object has no attribute 'hist'

In [47]:
def make_numeric_stats(col):  # -> dict:
    stats = dict()
    stats["count"] =  col.countna()
    return dir(col.countna())
#     stats["count"] = col.shape[0] - col.countna().topython()[0][0]
#     stats["mean"] = col.mean().topython()[0][0]
#     stats["std"] = col.sd().topython()[0][0]
#     stats["min"] = col.min().topython()[0][0]
#     stats["max"] = col.max().topython()[0][0]
#     stats["freq"] = None
#     stats["unique"] = None
#     if col.ltypes[0].name in ["int", "bool", "real"]:
#         classes, freqs = np.unique(col.internal, return_counts=True)
#         stats["unique"] = len(classes)
#         if len(freqs) > 0:
#             if len(classes) == 2:
#                 stats["freq"] = convert(freqs[1])  # binomial: frequency of target class
#             else:
#                 stats["freq"] = convert(np.max(freqs))  # multinomial: frequency of most frequent class
#     return stats

make_numeric_stats(DT4["REPORTING_AREA"])

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_repr_html_',
 'cbind',
 'colindex',
 'copy',
 'countna',
 'countna1',
 'export_names',
 'head',
 'key',
 'keys',
 'kurt',
 'kurt1',
 'ltypes',
 'materialize',
 'max',
 'max1',
 'mean',
 'mean1',
 'meta',
 'min',
 'min1',
 'mode',
 'mode1',
 'names',
 'ncols',
 'ndims',
 'newsort',
 'nmodal',
 'nmodal1',
 'nrows',
 'nunique',
 'nunique1',
 'rbind',
 'replace',
 'sd',
 'sd1',
 'shape',
 'skew',
 'skew1',
 'sort',
 'source',
 'stype',
 'stypes',
 'sum',
 'sum1',
 'tail',
 'to_arrow',
 'to_csv',
 'to_dict',
 'to_jay',
 'to_list',
 'to_numpy',
 'to_pandas',
 'to_tuples',
 'type',
 'types',
 'view']